<section id="content">

    <!--start container-->
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
              <div class="col s6 m12 l12" id="breadcrumbs">
                <ol class="breadcrumbs" style="margin-top: 10px;">
                  <li><a href="#/dashboard">Home</a>
                  </li>
                  <li><a href="#">Admin</a>
                  </li>
                  <li class="active">Admin Dashboard</li>
                </ol>
              </div>
              <div class="col s5 m8 l6" id="breadcrumb_buttons">
                 <button class="btn-success" type="submit" name="action">Save</button>
                 <button class="btn" type="submit" name="action">Cancel</button>
               </div>
            </div>
        </div>
        <div id="basic-form" class="section">
            <div class="row">
                <div class="col s12 m12 l3">
                    <div class="card-panel" id="c3_card_panel">
                    </div>
                </div>
                <!-- Form with placeholder -->
                <div class="col s12 m12 l9">
                    <div class="tabs">
                        <div class="tab-box">
                            <div class="col s4">
                                <a href="javascript:;" class="tabLink activeLink" id="cont-1">Tab 1</a>
                            </div>
                            <div class="col s4">
                                <a href="javascript:;" class="tabLink " id="cont-2">Tab 2</a>
                            </div>
                            <div class="col s4">
                                <a href="javascript:;" class="tabLink " id="cont-2">Tab 3</a>
                            </div>
                        </div>
                      </div>  
                    <div class="card-panel" id="c9_card_panel">
				        <div class="row">
                      <form class="col s12">
                        <div class="tabcontent paddingAll" id="cont-1-1">
                                    <div class="row">
                                        <div class="input-field col s3">
                                            <input type="text"> <label class=""> Name</label>
                                        </div>
                                        <div class="input-field col s3">
                                            <input type="text"> <label class=""> Email</label>
                                        </div>
                                        <div class="input-field col s3">
                                            <input type="text"> <label class=""> Mobile number</label>
                                        </div>
                                        <div class="input-field col s3">
										  <input type="checkbox" id="test22"> <label for="test22">Average</label>
									    </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s9">
                                            <input placeholder="john@domainname.com" id="email2" type="email">
                                            <label for="email" class="active">Email</label>
                                        </div>
                                        <div class="input-field col s3">
										  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked">
                                           <label for="filled-in-box">Filled in</label>
									    </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="YourPassword" id="password2" type="password">
                                            <label for="password" class="active">Password</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                                            <label for="message" class="active">Message</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                                            <label for="message" class="active">Message</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                                            <label for="message" class="active">Message</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                                            <label for="message" class="active">Message</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                                            <label for="message" class="active">Message</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabcontent paddingAll hide" id="cont-2-1">
                                    <br>
                                    <dl>
                                        <dt>Definition list</dt>
                                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                                        <dt>Lorem ipsum dolor sit amet</dt>
                                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                                    </dl>
                                </div>
                      </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->
<script>
tabFunction();
</script>