<section id="content">
    <!--start container-->
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
                <div class="col s6 m12 l12" id="breadcrumbs">
                    <ol class="breadcrumbs" style="margin-top: 10px;">
                        <li><a href="#/dashboard">Home</a></li>
                        <li><a href="#">Masters</a></li>
                        <li class="active">Add Insurence</li>
                    </ol>
                </div>
            </div>
        </div>
        <div id="basic-form" class="section">
            <div class="row">
                <div class="col s12 m12 l3">
                    <div class="card-panel" id="c12_card_panel">
                        <div class="row">
                            <div class=" col s12">
                                <div class="input-field col s3 required">
                                    <input type="text" name="firstName" data-ng-model="insurence.insurenceCompanyName" />
                                    <label for="checknumberonly" class="active" id="chars">Insurence Company Name</label>
                                </div>
                                <div class="input-field col s3 required">
                                    <input type="text" name="middleName" data-ng-model="insurence.InsurenceCompanyCode" />
                                    <label for="lastName">Insurence Company Code</label>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class=" col s12">
                                <div class="input-field col s3 required">
                                    <textarea style='text-transform: lowercase' data-ng-model="insurence.address"></textarea>
                                    <label for="lastName">Address</label>
                                </div>

                                <div class="input-field col s3 required">
                                    <input type="text" style='text-transform: lowercase' data-ng-model="insurence.location" />
                                    <label for="lastName">Location</label>
                                </div>
                                <div class="input-field col s3 required">
		                            <select class="browser-default">
										<option selected="selected">- Country -</option>
										<option value="Guntur">India</option>
									</select>
		                        </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col s12">
                                <div class="input-field col s3 required">
		                            <select class="browser-default">
										<option>- State -</option>
										<option value="Andhra Pradesh">Andhra Pradesh</option>
										<option value="Telangana">Telangana</option>
									</select>
		                        </div>
                                <div class="input-field col s3 required">
		                            <select class="browser-default">
										<option>- City -</option>
										<option value="Guntur">Guntur</option>
										<option value="Hyderabad">Hyderabad</option>
									</select>
		                        </div>
                                <div class="input-field col s3 required">
                                    <input type="text" style='text-transform: lowercase' data-ng-model="insurence.pincode" />
                                    <label for="lastName">Pin Code</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col s12">
                                <div class="input-field col s3 required">
                                    <input type="text" style='text-transform: lowercase' data-ng-model="insurence.mobileNumber" />
                                    <label for="lastName">Mobile Number</label>
                                </div>
                                <div class="input-field col s3 required">
                                    <input type="text" style='text-transform: lowercase' data-ng-model="insurence.phoneNumber" />
                                    <label for="lastName">Phone Number</label>
                                </div>
                                <div class="input-field col s3 required">
                                    <input type="text" style='text-transform: lowercase' data-ng-model="insurence.faxNumber" />
                                    <label for="lastName">Fax Number</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col s12">
                                <div class="input-field col s3 required">
                                    <input type="text" style='text-transform: lowercase' data-ng-model="insurence.patientCode" />
                                    <label for="lastName">Patient Code</label>
                                </div>

                                <div class="input-field col s3 required">
                                    <input type="text" style='text-transform: lowercase' data-ng-model="insurence.insurenceId" />
                                    <label for="lastName">Insurence Id</label>
                                </div>

                                <div class="input-field col s3 required">
                                    <input type="text" id="datentime" readonly="readonly" /> <label for="datentime">Date &amp; Time</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class=" col s12"> 
	                        <div class="input-field col s3 required">
	                            <select class="browser-default">
									<option>- Gender -</option>
									<option value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
	                        </div>
	                       </div> 
	                    </div>    
                        <div class="row">
	                        <div class="col s8">
							</div>
                          <div class="col s8">
								<button class="btn waves-light"
									onclick="Materialize.toast('Details Submitted Successfully', 1000, 'rounded')" style="float: right;">Submit</button>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->
<script>
    /* For All Names */
    $('input[type=text]').keyup(function() {
        $('').text($(this).val());
    });

    // textarea
    $('input[type=text1]').keyup(function() {
        $('').text1($(this).val());
    });

    document.getElementsByTagName('input')[0].onblur = function() {
        this.value = this.value.replace(/^0+(?=\d)/, '');
    }

    $('#date').datetimepicker({
        timepicker: false,
        closeOnTimeSelect: false,
        format: 'd-m-Y',
        step: 01,
    });
    $('#currentdate').datetimepicker({
        timepicker: false,
        closeOnTimeSelect: false,
        format: 'd-m-Y',
        maxDate: false,
        minDate: new Date(),
        step: 01,

    });


    $('#time').datetimepicker({
        step: 10,
        datepicker: false,
        closeOnTimeSelect: false,
        format: 'H:i',
        maxDate: new Date(),
    });

    $('#datentime').datetimepicker({
        step: 10,
        format: 'd-m-Y, H:i',
        maxDate: false,
        minDate: new Date(),
    });

    //Email Validation
    function validateEmail(email) {
        var reg = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
        if (reg.test(email)) {
            return true;
        } else {
            return false;
        }
    }
</script>
<!-- END CONTENT -->