<section id="content">

    <!--start container-->
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
              <div class="col s6 m12 l12" id="breadcrumbs">
                <ol class="breadcrumbs" style="margin-top: 10px;">
                  <li><a href="#/dashboard">Home</a>
                  </li>
                  <li><a href="#">Admin</a>
                  </li>
                  <li class="active">Admin Dashboard</li>
                </ol>
              </div>
              <div class="col s5 m8 l6" id="breadcrumb_buttons">
                 <button class="btn-success" type="submit" name="action">Save</button>
                 <button class="btn" type="submit" name="action">Cancel</button>
                 <!-- <button class="btn" type="submit" name="action">Reply</button>
                 <button class="btn" type="submit" name="action">Send</button> -->
               </div>
            </div>
        </div>
        <div id="basic-form" class="section">
            <div class="row">
                <div class="col s12 m12 l3">
                    <div class="card-panel" id="c3_card_panel">
                      <div class="tabs">
				            <div class="tab-box">
				                <div class="col s6">
				                    <a href="javascript:;" class="tabLink activeLink" id="cont-1">Tab 1</a>
				                </div>
				                <div class="col s6">
				                    <a href="javascript:;" class="tabLink " id="cont-2">Tab 2</a>
				                </div>
				            </div>
				        </div>
				        <div class="tabcontent paddingAll" id="cont-1-1">
						    <div class="col s12">
						        <label for="first_name">Select Type</label>
						        <select class="browser-default">
	                                <option value="">--Select--</option>
	                                <option>option1</option>
	                                <option>option2</option>
	                                <option>option3</option>
	                                <option>option4</option>
	                            </select>
						    </div>
						    <div class="input-field col s12">
						        <input id="last_name" type="text" class="validate">
	                          <label for="last_name" class="">Date format</label>
						    </div>
						    <div class="input-field col s12">
						        <input id="last_name" type="text" class="validate">
	                          <label for="last_name" class="">Text Box</label>
						    </div>
						    <div class="input-field col s12">
						        <textarea class="materialize-textarea"></textarea>
	                          <label for="last_name" class="">Text Box</label>
						    </div>
						</div>
						<div class="tabcontent paddingAll hide" id="cont-2-1">
						    <br>
						    <dl>
						        <dt>Definition list</dt>
						        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
						        <dt>Lorem ipsum dolor sit amet</dt>
						        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
						    </dl>
						</div>
                    </div>
                </div>
                <!-- Form with placeholder -->
                <div class="col s12 m12 l9">
                    <div class="card-panel" id="c3_card_panel">
                        <div class="tabs">
				            <div class="tab-box">
				                <div class="col s4">
				                    <a href="javascript:;">Tab 1</a>
				                </div>
				                <div class="col s4">
				                    <a href="javascript:;" class="tabLink">Tab 2</a>
				                </div>
				                <div class="col s4">
				                    <a href="javascript:;" class="tabLink">Tab 3</a>
				                </div>
				            </div>
				        </div>
				        <div class="row">
                      <form class="col s12">
                        <div class="row">
                           <div class="input-field col s3">
	                          <input id="last_name" type="text" class="validate">
	                          <label for="last_name" class="">First Name</label>
	                        </div>
	                        <div class="input-field col s3">
	                          <input id="last_name" type="text" class="validate">
	                          <label for="last_name" class="">Last Name</label>
	                        </div>
	                        <div class="input-field col s3">
	                          <input id="last_name" type="text" class="validate">
	                          <label for="last_name" class="">Mobile No</label>
	                        </div>
                        </div>
                        <div class="row">
	                        <div class="input-field col s3">
	                          <input id="last_name" type="text" class="validate">
	                          <label for="last_name" class="">Email</label>
	                        </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s9">
	                          <textarea id="last_name" class="materialize-textarea" class="validate"></textarea>
	                          <label for="last_name" class="">Message</label>
	                        </div>
                        </div>
                        <div>
                          <div class="col s12">
               			    <label for="tnc_select">T&amp;C *</label>
               			    <p>
               			        <input type="checkbox" class="checkbox" id="cagree" name="cagree" data-error=".errorTxt9"> 
               			        <label for="cagree">Please agree to our policy</label>
               			     </p>
                               <div class="input-field">
                                   <div class="errorTxt6"></div>
                               </div>
               			</div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                      </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->
<script>
tabFunction();
</script>