<style>
.customheight {
height: 35vh;
/* background-color: orange; */
}
/* @media only screen and (min-width: 993px) */
.row .col.l3 {
    margin-top: -15px;
}
.btn {
float:right;
}​
</style>
<section id="content">

    <!--start container-->
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
              <div class="col s12 m12 l12" id="breadcrumbs">
                <ol class="breadcrumbs" style="margin-top: 10px;">
                  <li><a href="index.html">Home</a>
                  </li>
                  <li><a href="#">Vijay</a>
                  </li>
                  <li class="active">Associate Vehicle</li>
                </ol>
                
              </div>
              <div class="col s5 m8 l6" id="breadcrumb_buttons">
                 <button class="btn  waves-light " type="submit" name="action">Cancel</button>
                 <button class="btn waves-effect waves-light " type="submit" name="action">Continue</button>
                 
               </div>
            </div>
        </div>
        <div id="basic-form" class="section">
            <div class="row">
                <div class="col s12 m12 l3">
                    <div class="card-panel" id="c3_card_panel">
                    </div>
                </div>
                <!-- Form with placeholder -->
                <div class="col s12 m12 l9">
                <div class="tabs">
				            <div class="tab-box">
				                <div class="col s3">
				                    <a href="javascript:;" class="tabLink" id="cont-1">Basic Information</a>
				                </div>
				                <div class="col s3">
				                    <a href="javascript:;" class="tabLink">Vehicle Papers</a>
				                </div>
				                <div class="col s3">
				                    <a href="javascript:;" class="tabLink">Business Configuration</a>
				                </div>
				                <div class="col s3">
				                    <a href="javascript:;" class="tabLink">Report View</a>
				                </div>
				            </div>
				        </div>
                    <div class="card-panel" id="c9_card_panel">
                        
				        <!-- <div class="row"> -->
				        <div class="tabcontent paddingAll" id="cont-1-1">
					<div class="firsthalf">
						<div class="input-field col s12">
							<fieldset class="customheight">
								<legend id="color">Vehicle Information</legend>
								<div class="row margin">
									<!-- <div class="input-field col s3">
										<input type="text" id="id"><label>Veh Units</label>
									</div>
									<div class="input-field col s3">
										<input id="id" type="text" name=""> <label>Agreement
											Start Date</label>
									</div>
									<div class="input-field col s3">
										<input type="text" id="datepicker2"><label>Agreement
											End Date</label>
									</div>
									<div class="input-field col s3">
										<input type="text" id="id"><label>Register
											Stamp Paper Number</label>
									</div> -->
								</div>
							</fieldset>
						</div>
						</div>
					<!-- </div>
					<div class="row"> -->
					<div class="secondhalf">
						<div class="input-field col s12">
							<fieldset class="customheight">
								<legend id="color">RTA Information</legend>
								<div class="row margin">
									<!-- <div class="input-field col s3">
										<input type="text" id="id">
										<label> Vhk Units</label>
									</div>
									<div class="input-field col s3">
										<input id="id" type="text" name=""> <label>Agreement
											Start Date</label>
									</div>
									<div class="input-field col s3">
										<input type="text" id="datepicker2"><label>Agreement
											End Date</label>
									</div>
									<div class="input-field col s3">
										<input type="text" id="hk"><label>Register
											Stamp Paper Number</label>
									</div> -->
								</div>
							</fieldset>
						</div>
						</div>
						</div>
                        <!-- <div class="row">
                          <div class="input-field col s12">
                            <input placeholder="John Doe" id="name2" type="text">
                            <label for="first_name" class="active">Name</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input placeholder="john@domainname.com" id="email2" type="email">
                            <label for="email" class="active">Email</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input placeholder="YourPassword" id="password2" type="password">
                            <label for="password" class="active">Password</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea placeholder="Oh WoW! Let me check this one too." id="message2" class="materialize-textarea"></textarea>
                            <label for="message" class="active">Message</label>
                          </div>
                        </div> -->
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <!--end container-->
</section>
<!-- END CONTENT -->
<script>
    tabFunction();
</script>