<style>
#color {
	color: #4fbbda;
}
</style>


<!-- START CONTENT -->
<section id="content">
	<!--breadcrumbs start-->
	<div id="breadcrumbs-wrapper">
		<!-- Search for small screen -->
		<div class="header-search-wrapper grey hide-on-large-only">
			<i class="mdi-action-search active"></i> <input type="text"
				name="Search" class="header-search-input z-depth-2"
				placeholder="Explore Materialize">
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">				
					<ol class="breadcrumbs">
						<li><a href="index.html">Dashboard</a></li>
						<li><a href="#">Fleet</a></li>
						<li class="active">Driver Info</li>
						<li><a  href="#/fleet/user/drivercreation" style=" margin-left: 900px;" >Previous</a></li>
					</ol>
					
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs end-->


	<!--start container-->
	<div class="container">
		<div class="section">

			<!-- <fieldset>
				<legend>Driver Information</legend> -->
	
	<!-- First Row -->	
			
				<div class="row">
				 <div class="input-field col s12">
						<fieldset>
							<legend id="color" >Prof Info</legend>
							
							<div class="row margin">
								<div class="input-field col s2">
									<h6 id="color">Previous Company Name</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Company Address</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Tenure</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Contact Number</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Alternative Number</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Reason For Quit</h6>

								</div>
								
							</div>
							<div class="row margin">
								<div class="input-field col s2">
									<input id="Previous" type="text" data-ng-model="login.userName"
										name="userName"> <label for="Previous"
										class="center-align">Previous Company Name</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Company Address</label>
								</div>
							<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Tenure</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Contact Number</label>
								</div>
													
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Alternative Number</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Reason For Quit</label>
								</div>
								
								
							</div>
							
							<div class="row margin">
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Previous Company Name</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Company Address</label>
								</div>
							<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Tenure</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Contact Number</label>
								</div>
													
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Alternative Number</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Reason For Quit</label>
								</div>
								
								
							</div>
							
							
							
                            
							
						</fieldset>
					</div> 
					</div>
					
	<!-- Second Row -->
					
					<div class="row">
				 <div class="input-field col s12">
						<fieldset>
							<legend id="color" >Reference Info</legend>
							
							<div class="row margin">
								<div class="input-field col s2">
									<h6 id="color">Refered By</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Refered Mobile Number</h6>

								</div>
								<div class="input-field col s3">
									<h6 id="color">RelationShip With Refered Person</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Proffision</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Companty Name</h6>

								</div>
								
							</div>
							
							<div class="row margin">
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Refered By</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Refered Mobile Number</label>
								</div>
								
								<div class="input-field col s3">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">RelationShip With Refered Person</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Proffision</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Company Name</label>
								</div>
								
							</div>
							
							<div class="row margin">
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Refered By</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Refered Mobile Number</label>
								</div>
								
								<div class="input-field col s3">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">RelationShip With Refered Person</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Proffision</label>
								</div>
								<div class="input-field col s2">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Company Name</label>
								</div>
								
							</div>
							
							
							 
							
						</fieldset>
					</div> 
					</div>

					
				</div>

		<!-- 	</fieldset> -->

		</div>
		<!-- Floating Action Button -->

		<!-- Floating Action Button -->
	
	<!--end container-->
</section>
<!-- END CONTENT -->