<section id="content">
	<!--breadcrumbs start-->
	<div id="breadcrumbs-wrapper">
		<!-- Search for small screen -->
		<div class="header-search-wrapper grey hide-on-large-only">
			<i class="mdi-action-search active"></i> <input type="text"
				name="Search" class="header-search-input z-depth-2"
				placeholder="Explore Materialize">
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">
					<ol class="breadcrumbs">
						<li><a href="index.html">Home</a></li>
						<li><a href="#">fleet</a></li>
						<li class="active">OwnerCumDriver</li>
					</ol>
				</div>
				
			</div>
		</div>
	</div>
	<!--breadcrumbs end-->

	<div class="container">
		<div class="section">

			<div class="row">
				<div class="input-field col s6">
					<fieldset>
						<legend>Investor Date </legend>
						<div class="row margin">
							<div class="input-field col s3">
								<input type="text" id="id"><label for="id">Titel</label>
							</div>

							<div class="input-field col s3">
								<input id="fname" type="text" name=""> <label for="fname">First Name</label>
							</div>

							<div class="input-field col s3">
								<input type="text" id="datepicker2"><label>Last Name</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Sex</label>
							</div>
							
							<div class="row margin">
							<div class="input-field col s3">
								<input type="text" id="id"><label>Father Name</label>

							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>DOB</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Mobile Number</label>
							</div>
							<div class="input-field col s3">
								<input id="id" type="text" name=""> <label>Qualification</label>
							</div>
						</div>
						</div>
						<div class="row margin">
							<div class="input-field col s3">
								<input type="text" id="datepicker2"><label>Blood Group</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Religion</label>
							</div>
						</div>
					</fieldset>
				</div>
			<!--  -->
				<div class="input-field col s6">
					<fieldset >
						<legend>Present Address</legend>
						<div class="row margin">
							<div class="input-field col s3">
								<input id="id" type="text" name=""> <label>Door Number</label>
							</div>

							<div class="input-field col s3">
								<input type="text" id="datepicker2"><label>Building Name</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Area</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Land Mark</label>
							</div>
							<div class="row margin">
							<div class="input-field col s3">
								<input type="text" id="id"><label>City</label>

							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Distict</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>State</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Poncodde</label>
							</div>
							</div>
						</div>
						
					</fieldset>
				</div>
				</div>
				<!--  -->
					<div class="row">
				<div class="input-field col s6">
					<fieldset >
						<legend>Bank Account Details</legend>
						<div class="row margin">
							<div class="input-field col s3">
								<input id="id" type="text" name=""> <label>Account Number</label>
							</div>

							<div class="input-field col s3">
								<input type="text" id="datepicker2"><label>Holder Name</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Bank Name</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>IFSC Code</label>
							</div>
						</div>
					</fieldset>
				</div>
				
				
				<div class="input-field col s6">
					<fieldset >
						<legend>Present Address</legend>
						<div class="row margin">
							<div class="input-field col s3">
								<input id="id" type="text" name=""> <label>Door Number</label>
							</div>

							<div class="input-field col s3">
								<input type="text" id="datepicker2"><label>Building Name</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Area</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Land Mark</label>
							</div>
							<div class="row margin">
							<div class="input-field col s3">
								<input type="text" id="id"><label>City</label>

							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Distict</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>State</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Poncodde</label>
							</div>
							</div>
						</div>
						
					</fieldset>
				</div>
				<div class="row">
				<div class="input-field col s6">
					<fieldset >
						<legend>Reference Info</legend>
						<div class="row margin">
							<div class="input-field col s3">
								<input id="id" type="text" name=""> <label>Reffered By</label>
							</div>

							<div class="input-field col s3">
								<input type="text" id="datepicker2"><label>Reffered Mobile NO</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Relation With Ref Person</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Proffision</label>
							</div>
						</div>
						
						
					</fieldset><br>
					
				</div>
				<div class="input-field col s6">
					<fieldset >
						<legend>Reference Info</legend>
						<div class="row margin">
							<div class="input-field col s4">
								<button id="id" type="button" name="">Photo</button>
							</div>

							<div class="input-field col s4">
								<input type="text" id="datepicker2"><label>DOJ</label>
							</div>
							<div class="input-field col s4">
								<button id="id" type="button" name="">Thumb</button>
							</div>
							
						</div>
						
						
					</fieldset><br>
					<a type="submit" class="btn btn-primary" href="#/clientinfo1" style="
                     margin-left: 491px;">UpLoad</a>
				</div>
				
				</div>
				<!--  --><br>
				<!--  -->
				<!--  -->
			</div>
		</div>
	</div>
</section>
<!-- <script>
	var loadFile = function(event) {
		var output = document.getElementById('output');
		output.src = URL.createObjectURL(event.target.files[0]);
	};
</script> -->
<script>
	$('#datepicker1').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker2').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker3').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker4').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker5').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker6').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker7').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker8').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
</script>