<style>
  ::-webkit-scrollbar {
    width: 0.2rem;
    height: 100%
}
::-webkit-scrollbar-button {
    background: #00bcd4
}
::-webkit-scrollbar-track-piece {
    background: #00bcd4
}
::-webkit-scrollbar-thumb {
    background: #00bcd4
}​
</style>
<section id="content">

    <!--start container-->
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
              <div class="col s6 m12 l12" id="breadcrumbs">
                <ol class="breadcrumbs" style="margin-top: 10px;">
                  <li><a href="index.html">Home</a>
                  </li>
                  <li><a href="#">Bhavani</a>
                  </li>
                  <li class="active">Associate Creation</li>
                </ol>
              </div>
              <div class="col s12 m12 l7" id="breadcrumb_buttons">
                 &nbsp;&nbsp;&nbsp;
                 <button class="btn waves-effect waves-light" type="button">Continue</button>&nbsp;&nbsp;
                 <button class="btn primary" type="button">Cancel</button>
               </div>
            </div>
        </div>
        <div id="basic-form" class="section">
            <div class="row">
                <div class="col s12 m12 l3">
                <div class="tabs">
				            <div class="tab-box">
				                <div class="col s6">
				                    <a href="javascript:;" class="tabLink activeLink" id="cont-1">Tab 1</a>
				                </div>
				                <div class="col s6">
				                    <a href="javascript:;" class="tabLink " id="cont-2">Tab 2</a>
				                </div>
				            </div>
				        </div>
                    <div class="card-panel" id="c3_card_panel">
				        <div class="tabcontent paddingAll" id="cont-1-1">
						    <div class="col s12">
						        <label for="first_name">Select Type</label>
						        <select class="browser-default">
	                                <option value="">--Select--</option>
	                                <option>option1</option>
	                                <option>option2</option>
	                                <option>option3</option>
	                                <option>option4</option>
	                            </select>
						    </div>
						    <div class="col s12">
						        <label for="first_name">Date format</label>
						        <input type="text" id="date">
						    </div>
						    <br>
						    <div class="col s12">
						        <label for="first_name">Text Box</label>
						        <input type="text">
						    </div>
						    <div class="col s12">
						        <label for="first_name">Text Area</label>
						        <textarea class="materialize-textarea"></textarea>
						    </div>
						</div>
						<div class="tabcontent paddingAll hide" id="cont-2-1">
						    <br>
						    <dl>
						        <dt>Definition list</dt>
						        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
						        <dt>Lorem ipsum dolor sit amet</dt>
						        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
						    </dl>
						</div>
                    </div>
                </div>
                <!-- Form with placeholder -->
                <div class="col s12 m12 l9">
                 <div class="tabs" >
				            <div class="tab-box">
				                <div class="col s3">
				                    <a href="javascript:;" class="tabLink1 activeLink" id="ac1">Personal Info</a>
				                </div>
				                <div class="col s3">
				                    <a href="javascript:;" class="tabLink1" id="ac2">Professional Info</a>
				                </div>
				                <div class="col s3">
				                    <a href="javascript:;" class="tabLink1" id="ac3">Shift Info</a>
				                </div>
				                 <div class="col s3">
				                    <a href="javascript:;" class="tabLink1" id="ac4">Report View</a>
				                </div>
				            </div>
				        </div>
                    <div class="card-panel" id="c9_card_panel">
				        <div class="tabcontents paddingAll" id="ac1-1">
                      <form class="col s12">
                        <div class="row">
                            <div class="col s6">
                            <fieldset style="height: 198px;">
                             <legend>Personal Info </legend>
                            </fieldset>
                            </div>
                             <div class="col s6">
                            <fieldset style="height: 198px;">
                             <legend>Contact Info</legend>
                            </fieldset>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col s6">
                            <fieldset style="height: 198px;">
                             <legend>Present Address</legend>
                            </fieldset>
                            </div>
                             <div class="col s6">
                            <fieldset style="height: 198px;">
                             <legend>Permanent Address</legend>
                            </fieldset>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col s12">
                         <fieldset style="height: 198px;">
                          <legend>Referral Info</legend>
                            </fieldset>
                        </div>
                        </div>
                      </form>
                    </div>
                   <!--  <div class="row" id="ac2-1">
                      <form class="col s12">
                        <div class="row">
                            <div class="col s6">
                            <fieldset>
                             <legend>Personal Info </legend>
                            </fieldset>
                            </div>
                             <div class="col s6">
                            <fieldset>
                             <legend>Contact Info</legend>
                            </fieldset>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col s6">
                            <fieldset>
                             <legend>Present Address</legend>
                            </fieldset>
                            </div>
                             <div class="col s6">
                            <fieldset>
                             <legend>Perment Address</legend>
                            </fieldset>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col s12">
                         <fieldset>
                          <legend>Referral Info</legend>
                            </fieldset>
                        </div>
                        </div>
                      </form>
                    </div>
                    <div class="row" id="ac3-1">
                      <form class="col s12">
                        <div class="row">
                            <div class="col s6">
                            <fieldset>
                             <legend>Personal Info </legend>
                            </fieldset>
                            </div>
                             <div class="col s6">
                            <fieldset>
                             <legend>Contact Info</legend>
                            </fieldset>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col s6">
                            <fieldset>
                             <legend>Present Address</legend>
                            </fieldset>
                            </div>
                             <div class="col s6">
                            <fieldset>
                             <legend>Perment Address</legend>
                            </fieldset>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col s12">
                         <fieldset>
                          <legend>Referral Info</legend>
                            </fieldset>
                        </div>
                        </div>
                      </form>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->
<script>
    $(document).ready(function() {
        $(".tabLink").each(function() {
            $(this).click(function() {
                tabeId = $(this).attr('id');
                $(".tabLink").removeClass("activeLink");
                $(this).addClass("activeLink");
                $(".tabcontent").addClass("hide");
                $("#" + tabeId + "-1").removeClass("hide")
                return false;
            });
        });
    });
    $(document).ready(function() {
        $(".tabLink1").each(function() {
            $(this).click(function() {
                tabeId = $(this).attr('id');
                $(".tabLink1").removeClass("activeLink");
                $(this).addClass("activeLink");
                $(".tabcontents").addClass("hide");
                $("#" + tabeId + "-1").removeClass("hide")
                return false;
            });
        });
    });
</script>