<style>
    #secondMenu {
        border-right: 1px solid;
        height: auto;
        line-height: normal;
        margin-top: -6px;
    }
</style>
<div class="row">
    <div class="col s3" id="secondMenu">
        <div class="tabs">
            <div class="tab-box">
                <div class="col s6">
                    <a href="javascript:;" class="tabLink activeLink" id="cont-1">Tab 1</a>
                </div>
                <div class="col s6">
                    <a href="javascript:;" class="tabLink " id="cont-2">Tab 2</a>
                </div>
            </div>
        </div>
        <div class="tabcontent paddingAll" id="cont-1-1">
            <div class="col s12">
                <br>
                <b>Select Type</b>
                <select class="browser-default">
                                <option value="">--Select--</option>
                                <option>option1</option>
                                <option>option2</option>
                                <option>option3</option>
                                <option>option4</option>
                            </select>
            </div>
            <div class="col s12">
                <br> <b>Date format</b>
                <input type="text" id="date">
            </div>
            <br>
            <div class="col s12">
                <b>Text Box</b>
                <input type="text">
            </div>
            <div class="col s12">
                <b>Text Area</b>
                <textarea class="materialize-textarea"></textarea>
            </div>
        </div>
        <div class="tabcontent paddingAll hide" id="cont-2-1">
            <br>
            <dl>
                <dt>Definition list</dt>
                <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                <dt>Lorem ipsum dolor sit amet</dt>
                <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
            </dl>
        </div>
    </div>
    <!--breadcrumbs start-->
    <div class="col s9" id="secondMenu">
    <div id="breadcrumbs-wrapper">
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i> <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s9">
                    <ol class="breadcrumbs" style="margin-top: 4px;">
                        <li><a href="index.html">Dashboard</a></li>
                        <li><a href="#">User</a></li>
                        <li class="active">User1</li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
        <div class="tabs">
            <div class="tab-box">
                <div class="col s3">
                    <a href="javascript:;" class="tabLink" id="cont-3">Tab 3</a>
                </div>
                <div class="col s3">
                    <a href="javascript:;" class="tabLink " id="cont-4">Tab 4</a>
                </div>
                <div class="col s3">
                    <a href="javascript:;" class="tabLink " id="cont-5">Tab 5</a>
                </div>
                <div class="col s3">
                    <a href="javascript:;" class="tabLink " id="cont-6">Tab 6</a>
                </div>
            </div>
        </div>
        <div class="tabcontent paddingAll hide" id="cont-3-1">
            <div class="col s12">
                <br>
                <b>Select Type</b>
                <select class="browser-default">
		            <option value="">--Select--</option>
					<option>option1</option>
					<option>option2</option>
					<option>option3</option>
					<option>option4</option>
                </select>
            </div>
            <div class="col s12">
                <br> <b>Date format</b>
                <input type="text" id="date">
            </div>
            <br>
            <div class="col s12">
                <b>Text Box</b>
                <input type="text">
            </div>
            <div class="col s12">
                <b>Text Area</b>
                <textarea class="materialize-textarea"></textarea>
            </div>
        </div>
        <div class="tabcontent paddingAll hide" id="cont-4-1">
            <br>
            <h6 id="color">Screen 4</h6>
            <!-- Test 1     -->

            <div class="col s12 m12 l6">
                <div class="card-panel">
                    <h4 class="header2">Basic Form</h4>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" type="text">
                                    <label for="first_name" class="">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="message" class="materialize-textarea"></textarea>
                                    <label for="message">Message</label>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                                <i class="mdi-content-send right"></i>
                              </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabcontent paddingAll hide" id="cont-5-1">
            <h6 id="color">Screen 5</h6>

            <!-- Test 1     -->
            <div class="col s12 ">
                <div class="card-panel">
                    <h4 class="header2">Form with icon prefixes</h4>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-action-account-circle prefix"></i>
                                    <input id="name3" type="text">
                                    <label for="first_name">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-communication-email prefix"></i>
                                    <input id="email3" type="email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-action-lock-outline prefix"></i>
                                    <input id="password3" type="password">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-action-question-answer prefix"></i>
                                    <textarea id="message3" class="materialize-textarea"></textarea>
                                    <label for="message">Message</label>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                              <i class="mdi-content-send right"></i>
                            </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="tabcontent paddingAll hide" id="cont-6-1">
            <br>
            <dl>
                <dt>Definition list</dt>
                <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                <dt>Lorem ipsum dolor sit amet</dt>
                <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
            </dl>
        </div>

    </div>
</div>
<script>
    $(document).ready(function() {
        $(".tabLink").each(function() {
            $(this).click(function() {
                tabeId = $(this).attr('id');
                $(".tabLink").removeClass("activeLink");
                $(this).addClass("activeLink");
                $(".tabcontent").addClass("hide");
                $("#" + tabeId + "-1").removeClass("hide")
                return false;
            });
        });
    });
</script>