<section id="content">
	<div id="breadcrumbs-wrapper">
		<!-- Search for small screen -->
		<div class="header-search-wrapper grey hide-on-large-only">
			<i class="mdi-action-search active"></i> <input type="text"
				name="Search" class="header-search-input z-depth-2"
				placeholder="Explore Materialize">
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">				
					<ol class="breadcrumbs">
						<li><a href="index.html">Dashboard</a></li>
						<li><a href="#">Finance</a></li>
						<li class="active">Client Info</li>
						<li><a  href="#/finance/client/clientinfo" style=" margin-left: 900px;" >Previous</a></li>
					</ol>
					
				</div>
			</div>
		</div>
		</div>
	<!--breadcrumbs end-->

	<div class="container">
		<div class="section">

			<div class="row">
				<div class="input-field col s6">
					<fieldset>
						<legend>Vehicle Paper Status </legend>
						<div class="row margin">
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Cus Id</label>
							</div>
							<div class="input-field col s2">
								<input id="id2" type="text" name=""> <label for="id2">Veh
									Id</label>
							</div>

							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Veh Reg Number</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">RC</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Start Date</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">End Date</label>
							</div>
							<div class="row margin">
								<div class="input-field col s2">
									<input type="text" id="id"><label for="id">Permit</label>

								</div>
								<div class="input-field col s2">
									<input type="text" id="id"><label for="id">Start Date </label>
								</div>
								<div class="input-field col s2">
									<input type="text" id="id"><label for="id">End Date</label>
								</div>
								<div class="input-field col s2">
									<input id="id" type="text" name=""> <label for="id">Insurances</label>
								</div>
								<div class="input-field col s2">
									<input id="id" type="text" name=""> <label for="id">Start
										Date</label>
								</div>
								<div class="input-field col s2">
									<input  id="id" type="text" name=""> <label for="id">End
										Date</label>
								</div>
							</div>
						</div>
						<div class="row margin">
							<div class="input-field col s2">
								<input type="text" id="datepicker2"><label for="id">Fitness</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Start Date</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">End Date</label>

							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Tax</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Start Date</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">End Date</label>
							</div>
						</div>
						<div class="row margin">
							<div class="input-field col s2">
								<input type="text" id="datepicker2"><label for="id">Polution</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Start Date</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">End Date</label>

							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Road Permit
									Exp Date</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Vehicle Engine
									No</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Vehicle
									Chassis No</label>
							</div>
						</div>
						<div class="row margin">
							<div class="input-field col s2">
								<input type="text" id="datepicker2"><label for="id">Mode
									NO</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Veh Color</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Veh Number</label>

							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Veh Type</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Veh Safe
									Sticker</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">police
									Permission</label>
							</div>
						</div>
						<div class="row margin">
							<div class="input-field col s2">
								<input type="text" id="datepicker2"><label for="id">Company
									Sticker</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">RTA Sticker</label>
							</div>
							<div class="input-field col s2">
								<input type="text" id="id"><label for="id">Tax Lamp</label>
							</div>
						</div>
					</fieldset>
				</div>
				<!--  -->
				<div class="row margin">
				<div class="input-field col s6">
					<fieldset>
						<legend>Vehicle Paper Orginal</legend>
						<div class="row margin">
							<div class="input-field col s3">
								<input id="id" type="text" name=""> <label for="id">Vhk
									Id</label>
							</div>

							<div class="input-field col s3">
								<input type="text" id="datepicker2"><label for="id">Cus
									Id</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label for="id">Reg Number</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label for="id">original Paper</label>

							</div>
							<div class="row margin">
								<div class="input-field col s3">
									<input type="text" id="id"><label for="id">RC</label>

								</div>
								<div class="input-field col s3">
									<input type="text" id="id"><label for="id">Permit</label>
								</div>
								<div class="input-field col s3">
									<input type="text" id="id"><label for="id">Tax</label>
								</div>
								<div class="input-field col s3">
									<input type="text" id="id"><label for="id">Fitness</label>
								</div>
							</div>
							<div class="row margin">
								<div class="input-field col s3">
									<input type="text" id="id"><label for="id">Insurance</label>

								</div>
								<div class="input-field col s3">
									<input type="text" id="id"><label for="id">Polution</label>
								</div>
								<div class="input-field col s3">
									<input type="text" id="id"><label for="id">Paper with
										Owner</label>
								</div>
								<div class="input-field col s3">
									<input type="text" id="id"><label for="id">Paper With
										Company</label>
								</div>
							</div>
						</div>
						</fieldset>
				</div>
				<div class="input-field col s6">
					<fieldset>
						<legend>Vehicle EMI Status</legend>
						<div class="row margin">
							<div class="input-field col s3">
								<input id="id" type="text" name=""> <label for="id">Cus
									Id</label>
							</div>

							<div class="input-field col s3">
								<input type="text" id="datepicker2"><label for="id">Vhk
									Id</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label for="id">Name Of
									Fitness</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label for="id">EMI Account</label>
							</div>
							<div class="row margin">
								<div class="input-field col s3">
									<input type="text" id="id"><label for="id">EMI</label>

								</div>
								<div class="input-field col s3">
									<input type="text" id="id"><label for="id">Pending</label>
								</div>
								<div class="input-field col s3">
									<input type="text" id="id"><label for="id">Done</label>
								</div>
							</div>
						</div>
						</fieldset>
						</div>
				</div>
			</div>
			<!--  -->
			<div class="row">
				<div class="input-field col s6">
					<fieldset>
						<legend>Vehicle</legend>
						<div class="row margin">
							<div class="input-field col s3">
								<input id="id" type="text" name=""> <label for="id">RTO
									Person Name</label>
							</div>

							<div class="input-field col s3">
								<input type="text" id="datepicker2"><label for="id">Contact
									Number</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label for="id">Alt Count
									Number</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label for="id">How many Veh
									He Done</label>
							</div>
						</div>
						<div class="row margin">
							<div class="input-field col s3">
								<input id="id" type="text" name=""> <label for="id">Vhk
									Reg Number</label>
							</div>

							<div class="input-field col s3">
								<input type="text" id="datepicker2"><label for="id">RTA
									Areas</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label for="id">Paper Handover
									To Company</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label for="id">RecivedAmount</label>
							</div>
						</div>
						<div class="row margin">
							<div class="input-field col s3">
								<input id="id" type="text" name=""> <label for="id">Pending
									Amount</label>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<!--  -->
		</div>
	</div>
</section>
<!-- <script>
	var loadFile = function(event) {
		var output = document.getElementById('output');
		output.src = URL.createObjectURL(event.target.files[0]);
	};
</script> -->
<script>
	$('#datepicker1').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker2').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker3').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker4').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker5').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker6').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker7').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
	$('#datepicker8').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
</script>