<style>
html
{
overflow-y: visible;
}
</style>
<section id="content">
	<!--breadcrumbs start-->
	<div id="breadcrumbs-wrapper">
		<!-- Search for small screen -->
		<div class="header-search-wrapper grey hide-on-large-only">
			<i class="mdi-action-search active"></i> <input type="text"
				name="Search" class="header-search-input z-depth-2"
				placeholder="Explore Materialize">
		</div>
	</div>
	<!--breadcrumbs end-->
	<div class="container">
		<div class="section">
            <h6>Client Management</h6>
			<div class="row">
				<div class="input-field col s12">
					<fieldset>
						<legend>Investor Date </legend>
						<div class="row margin">
							<div class="input-field col s3">
								<input type="text" id="unit"><label for="unit"> Veh Units</label>

							</div>

							<div class="input-field col s3">
								<input id="agreement" type="text" name=""><label for="agreement">Agreement
									Start Date</label>
							</div>

							<div class="input-field col s3">
								<input type="text" id="agenddate"><label for="agenddate">Agreement
									End Date</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="reg"><label for="reg">Register
									Stamp Paper Number</label>
							</div>
							<div class="row margin">
							<div class="input-field col s3">
								<input type="text" id="inve"><label for="inve"> Investor Name</label>

							</div>
							<div class="input-field col s3">
								<input type="text" id="owner"><label for="owner"> Veh Owner
									Name</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="cash"><label for="cash">Cash</label>
							</div>
							<div class="input-field col s3">
								<input id="cheque" type="text" name=""> <label for="cheque">Cheque</label>
							</div>
						</div>
						</div>
						<div class="row margin">
							<div class="input-field col s3">
								<input type="text" id="pan"><label for="pan">Pan Card Number</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="ref"><label for="ref">Referred By</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="contact"><label for="contact">Contact Number</label>

							</div>
							<div class="input-field col s3">
								<input type="text" id="num"><label for="num">Number Of Veh He Ref</label>
							</div>
						</div>
					</fieldset>
				</div>
			<!--  -->
				<!-- <div class="input-field col s6">
					<fieldset >
						<legend>Payments</legend>
						<div class="row margin">
							<div class="input-field col s4">
								<input id="Investment" type="text" name=""> <label for="Investment">Investment Date</label>
							</div>

							<div class="input-field col s4">
								<input type="text" id="buffsd"><label for="buffsd">Buffer Start Date</label>
							</div>
							<div class="input-field col s4">
								<input type="text" id="buffed"><label for="buffed">Buffer End Date</label>
							</div>
							<div class="row margin">
							<div class="input-field col s4">
								<input type="text" id="paysd"><label for="paysd">Payment Satrt date After Buffering</label>

							</div>
							<div class="input-field col s4">
								<input type="text" id="monpay"><label for="monpay">Monthly payment</label>
							</div>
							<div class="input-field col s4">
								<input type="text" id="paymode"><label for="paymode">Payment mode Date</label>
							</div>
							</div>
							<div class="row margin">
							<div class="input-field col s4">
								<input type="text" id="advpay"><label for="advpay">Advanced Payment</label>

							</div>
							<div class="input-field col s4">
								<input type="text" id="dues"><label for="dues">Dues</label>
							</div>
							<div class="input-field col s4">
								<input type="text" id="mondue"><label for="mondue">month Of Dues</label>
							</div>
							</div>
						</div>
					</fieldset>
				</div> -->
				</div>
				<!--  -->
					<div class="row">
				<div class="input-field col s12">
					<fieldset >
						<legend>Payments Mode</legend>
						<div class="row margin">
							<div class="input-field col s3">
								<input id="id" type="text" name=""> <label>Cash</label>
							</div>

							<div class="input-field col s3">
								<input type="text" id="datepicker2"><label>Cheque</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Transfer</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Payment Date</label>
							</div>
							<div class="row margin">
							<div class="input-field col s3">
								<input type="text" id="id"><label>Bank</label>

							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Account Holder Name</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>Branch</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="id"><label>IFSC Code</label>
							</div>
							</div>
						</div>
					</fieldset>
				</div>
				<!-- <div class="input-field col s6">
					<fieldset >
						<legend>Finance Process</legend>
						<div class="row margin">
							<div class="input-field col s4">
								<input id="id" type="text" name=""> <label>Finance Approval</label>
							</div>

							<div class="input-field col s4">
								<input type="text" id="datepicker2"><label>Done</label>
							</div>
							<div class="input-field col s4">
								<input type="text" id="id"><label>Pending</label>
							</div>
						</div>
						
						
					</fieldset><br>
					<a type="submit" class="btn btn-primary" style="
                     margin-left: 491px;">UpLoad</a>
				</div> -->
				
				</div>
				<!--  --><br>
				<!--  -->
				<!--  -->
			</div>
		</div>
	
	
</section>
<script>
	var loadFile = function(event) {
		var output = document.getElementById('output');
		output.src = URL.createObjectURL(event.target.files[0]);
	};
</script>
<script>
	$('#datepicker1').datetimepicker({
		step : 01,
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'Y-m-d',
	});
</script>