<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper">
                            <a href="index.html" class="brand-logo darken-1"><img src="resources/assets/images/logo v.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1> 
                    </li>
                </ul>
                
                <ul class="center">
                	<li>
	                	<div class="box1" data-ng-if="ready">
            		<h6 style="margin-top: 5px;"><b style="margin-left: 18px; color: #4ba1c3;">First Login Time: 00:11:22</b></h6>
            		<div class="row">
            		<button id="b1" type="button" class="btn btn-success active" data-ng-click="getReadydata()">Ready</button>
                     <button id="b1" type="button" class="btn active" data-ng-click="getBreakdata()">Break</button>
                    <button id="b1" type="button" class="btn btn-info active" data-ng-click="getredial()">Re-dial</button>
                    <button id="b1" type="button" class="btn btn-warning active" data-ng-click="getoutboundcall()">Out bound</button>
                    </div>
            </div>
            <div class="box1" data-ng-if="idle">
            	<h6 style="margin-top: 5px;"><b style="margin-left: 15px; color: #4ba1c3;">Idle Time: 00:11:22</b></h6>
            		<div class="row" style="">
            		<button id="b1" type="button" class="btn btn-success active" data-ng-click="getReadydata()">Ready</button>
            		<button id="b1" type="button" class="btn active" data-ng-click="getBreakdata()">Break</button>
                    <button id="b1" type="button" class="btn btn-info active" data-ng-click="getredial()">Re-dial</button>
                    <button id="b1" type="button" class="btn btn-warning active" data-ng-click="getoutboundcall()">Out bound</button>
                    </div>
            </div>
            <div class="box1" data-ng-if="breaks">
            	<h6 style="margin-top: 5px;"><b style="margin-left: 15px; color: #4ba1c3;">Idle Time: 00:11:22</b></h6>
            		<div class="row">
            		<button style=" margin-top: -38px;margin-left: -261px;" type="button" class="btn active">Break</button>
						<select class="browser-default" style="width:92px; color:#3f7a91; margin-top:-77px; margin-left:238px;">
						<option value="">Lunch</option>
						<option value="1">Meeting</option>
						<option value="2">Outing</option>
						<option value="2">Personal Work</option>
						</select>
                    <button style="margin-top: -101px;margin-left: 273px;"  type="button" class="btn btn-warning active">Apply</button>
                    </div>
            </div>
            <div class="box2">
            <h7 id="clr">Waiting Calls</h7>
            <!-- <div class="row" id="status">
            	<span class="tag tag-pill tag-warning">0</span>
           		<span class="tag tag-pill tag-success">5</span>
            	<span class="tag tag-pill tag-danger">10</span>
            </div> -->
            </div>
            <div id="box3">
            <h6 id="clr">Station</h6>
            <h6 id="clr">1020</h6>
            <div id="popup" style="display: none">
            	<div class="row" id="toast">
	            	<h6 style="margin-top: 5px;">Agent:</h6>
	            	<h6>Process:</h6>
            	</div>
            	</div>
            
            	</div>
                	</li>
                	
                </ul>
                
                <ul class="right hide-on-med-and-down" style="border-left: 1px solid #3f7a91;height: 48px;margin-top: 8px;padding-right: 24px;">
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="icon-dropdown"><img src="resources/assets/images/icon.png" style="margin-top: 19px;"></a>
                    </li>
                    <li></li>
                    <li><a style="margin-left: -20px;" href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown"><i class="mdi-social-notifications"><small class="notification-badge">5</small></i>

                        </a>
                    </li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="settings-dropdown" style="margin-left: -14px;"><span>Admin</span></a>
                    </li>
                    <li><img href="javascript:void(0);" src="resources/assets/images/avatarnew.jpg" alt="" class="circle responsive-img valign profile-image waves-effect waves-block waves-light notification-button" data-activates="settings-dropdown" style="margin-top: 14px;"></li>
               		<li></li>
                </ul>
                <!-- translation-button -->
                <ul id="icon-dropdown" class="dropdown-content" style="width:18%;overflow: hidden;">
                	<div class="row" style="margin-bottom: 2px;">
                		<div class="input-field col s4">
                			<a href="#!" style="color:#3f7a91;"><img class="circle responsive-img valign profile-image" src="resources/assets/images/icon.png"/><label id="lab"><b>Option 1</b></label></a>
                		</div>
                		<div class="input-field col s4">
                			<a href="#!" style="color:#3f7a91;"><img class="circle responsive-img valign profile-image" src="resources/assets/images/icon.png"/><label id="lab"><b>Option 2</b></label></a>
                		</div>
                		<div class="input-field col s4">
                			<a href="#!" style="color:#3f7a91;"><img class="circle responsive-img valign profile-image" src="resources/assets/images/icon.png"/><label id="lab"><b>Option 3</b></label></a>
                		</div>
                	</div>
                	<div class="row" style="margin-bottom: 2px;">
                		<div class="input-field col s4">
                			<a href="#!" style="color:#3f7a91;"><img class="circle responsive-img valign profile-image" src="resources/assets/images/icon.png"/><label id="lab"><b>Option 4</b></label></a>
                		</div>
                		<div class="input-field col s4">
                			<a href="#!" style="color:#3f7a91;"><img class="circle responsive-img valign profile-image" src="resources/assets/images/icon.png"/><label id="lab"><b>Option 5</b></label></a>
                		</div>
                		<div class="input-field col s4">
                			<a href="#!" style="color:#3f7a91;"><img class="circle responsive-img valign profile-image" src="resources/assets/images/icon.png"/><label id="lab"><b>Option 6</b></label></a>
                		</div>
                	</div>
                </ul>
                <!-- notifications-dropdown -->
                <ul id="notifications-dropdown" class="dropdown-content">
                    <li>
                        <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                    </li>
                    <li>
                        <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                    </li>
                </ul>
                <ul id="settings-dropdown" class="dropdown-content">
                     <li><a href="#"><b>Account</b></a>
                     </li>
                     <li class="divider"></li>
                     <li><a href="#"><i class="mdi-communication-email"></i> Messages</a>
                     </li>
                     <li><a href="#"><i class="mdi-action-assignment"></i> Tasks</a>
                     </li>
                     <li><a href="#"><i class="mdi-social-person-add"></i> Request</a>
                     </li>
                     <li><a href="#"><i class="mdi-editor-insert-comment"></i> Chat & Mail</a>
                     </li>
                     <li class="divider"></li>
                     <li><a href="#"><b>Settings</b></a>
                     </li>
                     <li class="divider"></li>
                     <li><a href="#"><i class="mdi-editor-format-list-bulleted"></i> Dashboard</a>
                     </li>
                        <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                     </li>
                     <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                     </li>
                     <li><a href="#"><i class="mdi-action-description"></i> Attendance</a>
                     </li>
                     <li><a href="#"><i class="mdi-editor-attach-money"></i> Salary</a>
                     </li>
                     <li class="divider"></li>
                     <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                     </li>
                     <li><a href="#" data-ng-click="logout()"><i class="mdi-action-settings-power"></i> Logout</a>
                     </li>
                 </ul> 
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->



<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="resources/assets/js/plugins.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="resources/assets/js/materialize.min.js"></script> 

<script>
var e = document.getElementById('box3');
e.onmouseover = function() {
  document.getElementById('popup').style.display = 'block';
}
e.onmouseout = function() {
  document.getElementById('popup').style.display = 'none';
}

</script>

<div data-ng-include="'resources/views/cc/incoming.html'"></div>
<div data-ng-include="'resources/views/cc/outgoingcall.html'"></div>
<div data-ng-include="'resources/views/cc/redial.html'"></div>