<style type="text/css">
input[type=text] {
	text-transform: capitalize;
}

textarea[type=text1] {
	text-transform: capitalize;
}

.required label:after {
	color: #e32;
	content: ' *';
	display: inline;
}

button#two:focus {
	background: #ff4081;
}
</style>
<section id="content">
	<!--start container-->
	<div class="container">
		<div id="breadcrumbs-wrapper">
			<div class="row">
				<div class="col s6 m12 l12" id="breadcrumbs">
					<ol class="breadcrumbs" style="margin-top: 10px;">
						<li><a href="#/dashboard">Home</a></li>
						<li><a href="#">Rohit</a></li>
						<li class="active">Part 2</li>
					</ol>
				</div>
			</div>
		</div>
		<div id="basic-form" class="section">
			<div class="row">
				<div class="col s12 m12 l3">
					<div class="card-panel" id="c12_card_panel">
						<!-- First Row -->

						<div class="row">

							<div class="col s12">
								<div class="col s2">
									<button class="btn-success" type="button" name="action">Save</button>
								</div>
								<div class="col s2">
									<button class="btn" id="two" name="action">Submit</button>
								</div>
								<div class="col s2">
									<button class="btn" type="button" name="action">Create</button>
								</div>
								<div class="col s2">
									<button class="btn  waves-light " type="submit" name="action">Edit</button>
								</div>
								<div class="col s2">
									<button class="btn  waves-light " type="submit" name="action">Delete</button>
								</div>
								<div class="col s2">
									<button class="btn  waves-light " type="submit" name="action">Update</button>
								</div>

							</div>
						</div>

						<!-- Second Row -->
						<br>

						<div class="row">
							<div class="col s12">
								<div class="col s2">
									<button class="btn  waves-light " type="submit" name="action">Next</button>
								</div>
								<div class="col s2">
									<button class="btn  waves-light " type="submit" name="action">Previous</button>
								</div>
								<div class="col s2">
									<button class="btn  waves-light " type="submit" name="action">View</button>
								</div>
								<div class="col s2">
									<button class="btn  waves-light " type="submit" name="action">Continue</button>
								</div>
								<div class="col s2">
									<button class="btn primary" type="submit" name="action">Cancel</button>
								</div>
								<div class="col s2">
									<button class="btn  waves-light " type="submit" name="action">Preview</button>
								</div>


							</div>
						</div>
						<br>
						<div class="row">
						<div class="col s2">
								<button class="btn  waves-light " type="submit" name="action">ViewAll</button>
							</div>
							<div class="col s2">
								<button class="btn  waves-light " type="submit" disabled>Disabled</button>
							</div>
						
						</div>

						<!-- Third Row -->

						<div class="row">
							<div class="col s12">
								<p style="color: #00bcd4">Icons Edit Delete Search View</p>
								<div class="col s2">
									<p style="color: #00bcd4">Size 16</p>
									<img src="resources/assets/images/edvsicons/16/edit.png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/16/delete.png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/16/search.png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/16/view.png"
										alt="Smiley face">

								</div>

								<div class="col s3">
									<p style="color: #00bcd4">Size 24</p>
									<img src="resources/assets/images/edvsicons/24/edit (2).png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/24/delete (2).png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/24/search (2).png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/24/view (2).png"
										alt="Smiley face">
								</div>
								<div class="col s3">
									<p style="color: #00bcd4">Size 32</p>
									<img src="resources/assets/images/edvsicons/32/edit (3).png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/32/delete (3).png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/32/search (2).png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/32/view (3).png"
										alt="Smiley face">
								</div>
								<div class="col s4">
									<p style="color: #00bcd4">Size 64</p>
									<img src="resources/assets/images/edvsicons/64/edit (4).png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/64/delete (4).png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/64/search (3).png"
										alt="Smiley face"> <img
										src="resources/assets/images/edvsicons/64/view (4).png"
										alt="Smiley face">
								</div>
							</div>
						</div>
						<!-- Fourth Row -->
						<div class="row">
							<div class="col s12">
								<p style="color: #00bcd4">Whatsapp Icons</p>
								<div class="col s2">
									<p style="color: #00bcd4">Size 16</p>
									<img src="resources/assets/images/whatsapp-icons/16/Audio.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/16/Concate.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/16/Gallery.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/16/Location.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/16/Photo.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/16/Video.png"
										alt="Smiley face">

								</div>
								<div class="col s23">
									<p style="color: #00bcd4">Size 24</p>
									<img src="resources/assets/images/whatsapp-icons/24/Audio.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/24/Concate.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/24/Gallery.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/24/Photo.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/24/Location.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/24/Video.png"
										alt="Smiley face">
								</div>
								<div class="col s3">
									<p style="color: #00bcd4">Size 32</p>
									<img
										src="resources/assets/images/whatsapp-icons/32/w audio.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/32/w contact.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/32/w gallery.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/32/w location.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/32/w photo.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/32/w video.png"
										alt="Smiley face">
								</div>
								<div class="col s4">
									<p style="color: #00bcd4">Size 64</p>
									<img
										src="resources/assets/images/whatsapp-icons/64/w audio.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/64/w contact.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/64/w gallery.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/64/w location.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/64/w photo.png"
										alt="Smiley face"> <img
										src="resources/assets/images/whatsapp-icons/64/w video.png"
										alt="Smiley face">
								</div>

							</div>
						</div>
						<!-- Fifth Row -->

						<div class="row">
							<div class="col s6">
								<p style="color: #00bcd4">New Icons 16</p>
								<img src="resources/assets/images/aprvd/16/Delete.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/16/Download.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/16/Edite.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/16/Xslx.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/16/Mail.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/16/pdf.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/16/Print.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/16/Save.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/16/Search.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/16/Setting.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/16/View.png"
									alt="Smiley face">
							</div>

							<div class="col s6">
								<p style="color: #00bcd4">New Icons 24.</p>
								<img src="resources/assets/images/aprvd/24/delete.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/24/download.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/24/edit.png" alt="Smiley face">
								<img src="resources/assets/images/aprvd/24/excel.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/24/mail.png" alt="Smiley face">
								<img src="resources/assets/images/aprvd/24/pdf.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/24/print.png" alt="Smiley face">
								<img src="resources/assets/images/aprvd/24/save.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/24/search.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/24/settings.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/24/view.png" alt="Smiley face">
							</div>
						</div>


						<div class="row">
							<div class="col s6">
								<p style="color: #00bcd4">New Icons 32</p>
								<img src="resources/assets/images/aprvd/32/Delete.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/32/Download.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/32/Edite.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/32/Xlsx.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/32/Mail.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/32/pdf.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/32/Print.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/32/Save.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/32/Search.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/32/Setting.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/32/View.png"
									alt="Smiley face">
							</div>

							<div class="col s6">
								<p style="color: #00bcd4">New Icons 64</p>
								<img src="resources/assets/images/aprvd/64/Delete.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/64/Download.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/64/Edite.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/64/Xlsx.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/64/Mail.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/64/pdf.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/64/Print.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/64/Save.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/64/Search.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/64/Setting.png"
									alt="Smiley face"> <img
									src="resources/assets/images/aprvd/64/View.png"
									alt="Smiley face">
							</div>
						</div>

						<br>
						<!-- Sixth Row -->

						<div class="row">
							<div class="col s12">

								<div class="col s3">
									<p style="color: #00bcd4">Circle Icons For Status</p>
									<img src="resources/assets/images/circle 1.png"
										alt="Smiley face" height="20" width="20">&nbsp;&nbsp;&nbsp;&nbsp;
									<img src="resources/assets/images/circle 2.png"
										alt="Smiley face" height="20" width="20">&nbsp;&nbsp;&nbsp;&nbsp;
									<img src="resources/assets/images/circle 3.png"
										alt="Smiley face" height="20" width="20">
								</div>

								<div class="col s4">
									<p style="color: #00bcd4">Sample Icons</p>
									<div class="icon-preview col s2" class="btn-floating red">
										<i class="mdi-action-print"></i><span>Print</span>
									</div>
									<div class="icon-preview col s2">
										<i class="mdi-action-delete"></i><span>Delete</span>
									</div>
									<div class="icon-preview col s2">
										<i class="mdi-editor-border-color"></i><span>Edit</span>
									</div>
									<div class="icon-preview col s2">
										<i class="mdi-action-search"></i><span>Search</span>
									</div>
									<div class="icon-preview col s2">
										<i class="mdi-action-visibility"></i><span>View</span>
									</div>
								</div>
								<p style="color: #00bcd4">Breadcrumb Group 3 And 4 Icon Sets</p>
								<div class="col s2 iconbox">								
									<div class="col s4">
										<img src="resources/assets/images/aprvd/16/Download.png"
											alt="Smiley face">
									</div>
									<div class="col s4">
										<img src="resources/assets/images/aprvd/16/Mail.png"
											alt="Smiley face">
									</div>
									<div class="col s4">
										<img src="resources/assets/images/aprvd/16/Print.png"
											alt="Smiley face">
									</div>
								</div>
								
								
								<div class="col s3 iconbox">								
									<div class="col s3">
										<img src="resources/assets/images/aprvd/16/Download.png"
											alt="Smiley face">
									</div>
									<div class="col s3">
										<img src="resources/assets/images/aprvd/16/Mail.png"
											alt="Smiley face">
									</div>
									<div class="col s3">
										<img src="resources/assets/images/aprvd/16/Print.png"
											alt="Smiley face">
									</div>
									<div class="col s3">
										<img src="resources/assets/images/aprvd/16/Setting.png"
											alt="Smiley face">
									</div>
								</div>
							</div>
						</div>

						<!-- six Row -->

						<div class="row">
							<div class="col s12">
								<div class="col s2">
									<p style="color: #00bcd4">Icons Size 16</p>
									<img src="resources/assets/images/16/excel rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/16/download rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/16/mail rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/16/pdf rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/16/print rounded.png"
										alt="Smiley face">

								</div>
								<div class="col s3">
									<p style="color: #00bcd4">Icons Size 24</p>
									<img src="resources/assets/images/24/excel rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/24/doenload rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/24/mail rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/24/pdf rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/24/print rounded.png"
										alt="Smiley face">

								</div>
								<div class="col s3">
									<p style="color: #00bcd4">Icons Size 32</p>
									<img src="resources/assets/images/32/excel rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/32/download rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/32/mail rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/32/pdf rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/32/print rounded.png"
										alt="Smiley face">

								</div>
								<div class="col s4">
									<p style="color: #00bcd4">Icons Size 64</p>
									<img src="resources/assets/images/64/excel rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/64/download rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/64/mail rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/64/pdf rounded.png"
										alt="Smiley face"> <img
										src="resources/assets/images/64/print rounded.png"
										alt="Smiley face">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end container-->
</section>
<!-- END CONTENT -->
<script>
	
</script>
<!-- END CONTENT -->