<section id="content">
    <!--start container-->
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
                <div class="col s6 m12 l12" id="breadcrumbs">
                    <ol class="breadcrumbs" style="margin-top: 10px;">
                        <li><a href="#/dashboard">Home</a>
                        </li>
                        <li><a href="#">Manoj</a>
                        </li>
                        <li class="active">Fieldsets</li>
                    </ol>
                </div>
            </div>
        </div>
        <div id="basic-form" class="section">
            <div class="row">
                <div class="col s12 m12 l3">
                    <div class="card-panel" id="c12_card_panel">
                        <div class="row">
                            <div class="col s7">
                                <fieldset>
                                    <legend> Pickup Hour Statistics </legend>
                                    <table class="striped">
                                        <thead>
                                            <tr id="blackcolor">
                                                <th>Type</th>
                                                <th>Small</th>
                                                <th>Medium</th>
                                                <th>Tavera</th>
                                                <th>Xylo/lnn...</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Available</td>
                                                <td>0</td>
                                                <td>2</td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>While Driv...</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td>0</td>
                                                <td>2</td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Bookings</td>
                                                <td>3</td>
                                                <td>3</td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Color Code</td>
                                                <td id="redcolor"></td>
                                                <td id="redcolor"></td>
                                                <td id="orangecolor"></td>
                                                <td id="orangecolor"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s7">
                                                <button role="button" class="btn btn-primary">Rush Hours</button>
                                            </div>
                                            <div class="col s4">
                                                <select class="browser-default">
										<option value="">Select Hours</option>
										<option value="1 Hour">1 Hour</option>
										<option value="2 Hours">2 Hours</option>
										<option value="3 Hours">3 Hours</option>
									</select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col s5">
                                <fieldset>
                                    <legend> Chat </legend>
                                    <div class="col s12">
                                        <div class="col s4">
                                            <b>Process</b>
                                        </div>
                                        <div class="col s4">
                                            <select class="browser-default">
									<option>Choose</option>
									<option>Option1</option>
									<option>Option2</option>
									<option>Option3</option>
								</select>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="col s4">
                                            <b>Name</b>
                                        </div>
                                        <div class="col s4">
                                            <select class="browser-default">
									<option>Choose</option>
									<option>Option1</option>
									<option>Option2</option>
									<option>Option3</option>
								</select>
                                            <br>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col s12">
                                            <textarea id="message2" class="materialize-textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="border-top: 1px solid;">
                                        <br>
                                        <div class="col s12">
                                            <div class="col s8">
                                                <textarea id="message2" class="materialize-textarea"></textarea>
                                            </div>
                                            <div class="col s3">
                                                <button type="button" class="btn btn-primary">Templates</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                      <hr>
                      
                      
                      
                      
                      
                      
                         <div class="row">
                            <div class="col s9">
                                <fieldset class="col s9">
                                    <legend id="color"><b>Current Month History</b></legend>
                                    <div class="col s10 " style="border-right: 1px solid #CCCCCC;">
                                        <div style="border-bottom: 1px solid #CCCCCC;">
                                            <div class="row">
                                                <div class="col s3"><b>Day Avg.</b></div>
                                                <div class="col s3">120</div>
                                                <div class="col s3">Reached</div>
                                                <div class="col s3">1500</div>
                                            </div>
                                            <div class="row">
                                                <div class="col s3">Perf..</div>
                                                <div class="col s3">120</div>
                                                <div class="col s3">Avg.Login</div>
                                                <div class="col s3">00:05</div>
                                            </div>
                                            <div class="row">
                                                <div class="col s3">T.Days</div>
                                                <div class="col s3">15</div>
                                                <div class="col s3">W.Days</div>
                                                <div class="col s3">12</div>
                                            </div>
                                            <div class="row">
                                                <div class="col s3">V.Comp.</div>
                                                <div class="col s3">5</div>
                                                <div class="col s3">D.Comp.</div>
                                                <div class="col s3">5</div>
                                            </div>
                                            <div class="row">
                                                <div class="col s3">V.Rating</div>
                                                <div class="col s3">
                                                    <i class="mdi-action-star-rate tiny"></i>
                                                    <i class="mdi-action-star-rate tiny"></i>
                                                    <i class="mdi-action-star-rate tiny"></i>
                                                    <i class="mdi-action-star-rate tiny"></i>
                                                    <i class="mdi-action-star-rate tiny"></i>
                                                </div>
                                                <div class="col s3">D.Rating</div>
                                                <div class="col s3">
                                                    <i class="mdi-action-star-rate tiny"></i>
                                                    <i class="mdi-action-star-rate tiny"></i>
                                                    <i class="mdi-action-star-rate tiny"></i>
                                                    <i class="mdi-action-star-rate tiny"></i>
                                                    <i class="mdi-action-star-rate tiny"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="row">
                                                <div class="col s3"><label>T.Bkngs: </label><span>39</span></div>
                                                <div class="col s2"><label>SB: </label><span>25</span></div>
                                                <div class="col s2"><label>RB: </label><span>5</span></div>
                                                <div class="col s2"><label>Ro.B: </label><span>4</span></div>
                                                <div class="col s2"><label>CB: </label><span>5</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s2" style="text-align:center;">
                                        ChartData
                                    </div>
                                </fieldset>
                            </div>
                        
                        </div>
                        <div class="row">
                            <div class="col s10">
                                <fieldset class="col s11" style="margin-top: 2px;">
                                    <legend id="color"><b>Current Month History</b></legend>
                                    <div class="row">
                                        <div class="col s2">
                                            <label>LiT:</label>
                                            <span>17 -> 15:05</span>
                                        </div>
                                        <div class="col s2">
                                            <label>ELoT:</label>
                                            <span>17 -> 15</span>
                                        </div>
                                        <div class="col s2">
                                            <label>PL:</label>
                                            <span>17 -> 15:05</span>
                                        </div>
                                        <div class="col s2">
                                            <label>CL:</label>
                                            <span>17 -> 15:05</span>
                                        </div>
                                        <div class="col s2">
                                            <label>Status:</label>
                                            <span>Inactive</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s2">
                                            <label>T.Bookings:</label>
                                            <span>0</span>
                                        </div>
                                        <div class="col s2">
                                            <label>SB:</label>
                                            <span>0</span>
                                        </div>
                                        <div class="col s2">
                                            <label>RO.B:</label>
                                            <span>0</span>
                                        </div>
                                        <div class="col s2">
                                            <label>RB:</label>
                                            <span>0</span>
                                        </div>
                                        <div class="col s2">
                                            <label>CB:</label>
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top:15px;">
                                        <div class="col s8">
                                            <div id="table-datatables">
                                                <table id="example" class="display" cellspacing="0">
                                                    <thead class="c01">
                                                        <tr>
                                                            <th>B.No</th>
                                                            <th>V.T</th>
                                                            <th>D.ML</th>
                                                            <th>S.T</th>
                                                            <th>D.T</th>
                                                            <th>T.kms</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="b01" style="background: white">
                                                        <tr>
                                                            <td>1</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col s3">
                                            <!-- <div class="row"><label>Day Call: </label><span>0</span></div>
                                                    <div class="row"><label>T.Login Hrs: </label><span>20:13</span></div>
                                                    <div class="row"><label>T.Break Tm: </label><span>0</span></div>
                                                    <div class="row"><label>Working Hrs: </label><span>20:13</span></div>
                                                    <div class="row"><label>Performance: </label><span>0</span></div> -->
                                            <div class="row">
                                                <div class="col s8"><label>Day Call: </label></div>
                                                <div class="col s2"><span>0</span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col s8"><label>T.Login Hrs: </label></div>
                                                <div class="col s2"><span>20:13</span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col s8"><label>T.Break Tm: </label></div>
                                                <div class="col s2"><span>0</span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col s8"><label>Wrkng Hrs: </label></div>
                                                <div class="col s2"><span>20:13</span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col s8"><label>Performance: </label></div>
                                                <div class="col s2"><span>0</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                      

                   
                            
                            </div>
                        </div>
                      
                      
                      
                      
                      
                      
                      
                    </div>
                </div>
            </div>
       
    <!--end container-->
</section>
<!-- END CONTENT -->


<!-- END CONTENT -->
<script>
    tabFunction();
</script>