<section id="content">
	<!--start container-->
	<div class="container">
		<div id="breadcrumbs-wrapper">
			<div class="row">
				<div class="col s6 m12 l12" id="breadcrumbs">
					<ol class="breadcrumbs" style="margin-top: 10px;">
						<li><a href="#/dashboard">Home</a></li>
						<li><a href="#">Manoj</a></li>
						<li class="active">New Fieldset</li>
					</ol>
				</div>
			</div>
		</div>
		<div id="basic-form" class="section">
			<div class="row">
				<div class="col s12 m12 l3">
					<div class="card-panel" id="c12_card_panel">
						<div class="row">
							<div class="col s6">
								<fieldset>
									<legend>Fieldset with Label etc </legend>
									<div class="col s12">
										<div class="col s4">
											<b>Process</b>
										</div>
										<div class="col s4">
											<select class="browser-default">
												<option>Choose</option>
												<option>Option1</option>
												<option>Option2</option>
												<option>Option3</option>
											</select>
										</div>
									</div>
									<div class="col s12">
										<div class="col s4">
											<b>Name</b>
										</div>
										<div class="col s4">
											<select class="browser-default">
												<option>Choose</option>
												<option>Option1</option>
												<option>Option2</option>
												<option>Option3</option>
											</select> <br>
										</div>
									</div>


									<div class="col s12">
										<div class="input-field col s9 required">
											<input type="text" name="callerName" id="callername"
												onkeypress="return onlyAlphabets(event,this);" /> <label
												for="callername">Caller Name</label>
										</div>

									</div>


									<div class="col s12">
										<div class="input-field col s9 required">
											<input type="text" name="smscaller" id="smscaller"
												onkeypress="return onlyAlphabets(event,this);" /> <label
												for="smscaller">SMS Caller Ph.</label>
										</div>
										<div class="input-field col s3">
											<input type="checkbox" id="test12"> <label
												for="test12"></label>
										</div>
									</div>


									<div class="col s12">
										<div class="input-field col s9 required">
											<input type="text" name="sms" id="sms"
												onkeypress="return onlyAlphabets(event,this);" /> <label
												for="sms">SMS Caller Ph2.</label>
										</div>
										<div class="input-field col s3">
											<input type="checkbox" id="test13"> <label
												for="test13"></label>
										</div>
									</div>


									<div class="col s12">
										<div class="input-field col s9 required">
											<input type="text" name="search" id="search"
												onkeypress="return onlyAlphabets(event,this);" /> <label
												for="search">search</label>
										</div>
										<div class="input-field col s3">
											<input type="checkbox" id="test14"> <label
												for="test14"></label>
										</div>
									</div>

									<hr>


									<div class="col s12">
										<div class="col s6">
											<button class="btn" id="two" name="action">Submit</button>
										</div>
										<div class="col s6">
											<button class="btn primary" type="submit" name="action">Cancel</button>
										</div>
									</div>

								</fieldset>
							</div>



							<div class="col s6">
								<fieldset>
									<legend>Fieldset Horizontal Buttons </legend>
									<br>
									<br>
									<br>
									<br>
									<br>
									

									<hr>
									<div class="row">
										<div class="col s12">
											<div class="col s3">
												<button class="btn  waves-light " type="submit"
													name="action">Next</button>
											</div>
											<div class="col s3">
												<button class="btn  waves-light " type="submit"
													name="action">Previous</button>
											</div>

											<div class="col s3">
												<button class="btn  waves-light " type="submit"
													name="action">Continue</button>
											</div>
											<div class="col s3">
												<button class="btn primary" type="submit" name="action">Cancel</button>
											</div>

										</div>
									</div>

								</fieldset>
							</div>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
 
                        <div class="col s6">
								<fieldset>
									<legend>Fieldset Vertical Buttons </legend>
                                <div class="row">
									
								<div class="col s6">
									<button class="btn-success" type="button" name="action">Save</button>
								</div>
								</div>
								<br>
								<div class="row">
								<div class="col s6">
									<button class="btn" id="two" name="action">Submit</button>
								</div>
								</div>
								<br>
								<div class="row">
								<div class="col s6">
									<button class="btn" type="button" name="action">Create</button>
								</div>
								</div>
								<br>
								

								</fieldset>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end container-->
</section>
<!-- END CONTENT -->



<!-- END CONTENT -->
<script>
	tabFunction();
</script>