<div id="incoming" class="modal ng-scope" style="z-index: 1003; opacity: 1; transform: scaleX(1); top: 10%; height: 676px;">
    <div class="modal-content" id="model">
    	<i class="mdi-content-clear" style="margin-left: 644px;cursor: pointer;" data-ng-click="cancel()"></i>
    	<br>
							<div class="row" style="margin-left: 153px;">
								<h4><b>Incoming Call...</b></h4>
							</div>
							<br>
							<div class="row" >
								<span style="margin-left: 204px;" id="color"><b>+91
										9000498849</b></span>
							</div>
								<select class="browser-default" style="width:250px; margin-left:200px">
								<option value="" >Transfer</option>
								<option value="1">TL</option>
								<option value="2">HR</option>
								<option value="2">Manager</option>
								<option value="2">No</option>
								</select>
							<br>
							<div class="row">
								<img style="margin-left: 205px;" alt="" src="resources/assets/images/accept_50X50.png">
								<img style="margin-left: 85px;" alt="" src="resources/assets/images/decline_50X50.png">
							</div>

						</div>
        
        </div>