<style>
#color {
	color: #4fbbda;
}
</style>


<!-- START CONTENT -->
<section id="content">
	<!--breadcrumbs start-->
	<div id="breadcrumbs-wrapper">
		<!-- Search for small screen -->
		<div class="header-search-wrapper grey hide-on-large-only">
			<i class="mdi-action-search active"></i> <input type="text"
				name="Search" class="header-search-input z-depth-2"
				placeholder="Explore Materialize">
		</div>
		<div class="container">
			<div class="row">
				<div class="col s10">
					<ol class="breadcrumbs">
						<li><a href="index.html">Dashboard</a></li>
						<li><a href="#">Fleet</a></li>
						<li class="active">Driver Info</li>
					</ol>

				</div>
				<div class="col s2">
				<button class="card-content light-blue-text">Submit</button>
				<button class="card-content light-blue-text">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs end-->


	<!--start container-->
	<!-- <div class="container"> -->
		<!-- <div class="section"> -->

			<div class="row">
				<div class="input-field col s3"
					style="border-right: 1px solid; height: 570px;">

					<div class="row">
						<div class="col s12">
							<ul class="tabs tab-demo z-depth-1" style="width: 100%;">
								<li class="tab col s6"><a class="active" href="#test1">Tab
										1 </a></li>
								<li class="tab col s6"><a href="#test2" class="">Tab 2</a>
								</li>


							</ul>
						</div>
						<div class="col s12">
							<div id="test1" class="col s12" style="display: block;">
								<dl>
									<dt id="color">Caller Info</dt>
									<hr>
									<dd>
										<input type="checkbox" id="test11"> <label
											for="test11">CheckBox</label>
									</dd>
									<br>
									<dd>
										<input type="radio" id="test13"> <label for="test13">Radio</label>
									</dd>
									<br>
									<dd>
										<input type="checkbox" id="test12"> <label
											for="test12">CheckBox</label>
									</dd>
									<br>
									<dd>
										<input type="radio" id="test14"> <label for="test14">Radio</label>
									</dd>
									<br>


									<dt id="color">Caller Statistics</dt>
									<hr>
									<dd>Wallet Balance 10,000</dd>
									<br>
									<dd>Waiting Calls</dd>
									<br>
									<dd>Booking Cases</dd>
								</dl>

							</div>
							<div id="test2" class="col s12" style="display: none;">
								<dl>
									<dt>Definition list</dt>
									<dd>Consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim
										veniam, quis nostrud exercitation ullamco laboris nisi ut
										aliquip ex ea commodo consequat.</dd>
									<dt>Lorem ipsum dolor sit amet</dt>
									<dd>Consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim
										veniam, quis nostrud exercitation ullamco laboris nisi ut
										aliquip ex ea commodo consequat.</dd>
								</dl>

							</div>


						</div>
					</div>
					
				</div>

			<div class="input-field col s9">
			
			<div class="row">
				<div class="col s12">
					<ul class="tabs tab-demo z-depth-1" style="width: 100%;">
								<li class="tab col s6"><a  href="#test3">Tab 3</a>
								</li>
								<li class="tab col s6"><a href="#test4" class="">Tab 4</a>
								</li>
								<li class="tab col s6"><a href="#test5" class="">Tab 5</a>
								</li>
								
					</ul>

				</div>
				
				<div class="col s12">
							<div id="test3" class="col s12" style="display: block;">
								<h6 id="color">Screen 1</h6>
			<!-- Test 1	 -->				
								
				<div class="col s12 m12 l6">
                  <div class="card-panel">
                    <h4 class="header2">Basic Form</h4>
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="name" type="text">
                            <label for="first_name" class="">Name</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="email" type="email">
                            <label for="email">Email</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="password" type="password">
                            <label for="password">Password</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea id="message" class="materialize-textarea"></textarea>
                            <label for="message">Message</label>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                                <i class="mdi-content-send right"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            	<!-- Test 1	 -->		    
                
						</div>
							<div id="test4" class="col s12" style="display: none;">
								<h6 id="color">Screen 2</h6>
								
		<!-- Test 1	 -->							
<div class="col s12 ">
                <div class="card-panel">
                  <h4 class="header2">Form with icon prefixes</h4>
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="mdi-action-account-circle prefix"></i>
                          <input id="name3" type="text">
                          <label for="first_name">Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="mdi-communication-email prefix"></i>
                          <input id="email3" type="email">
                          <label for="email">Email</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="mdi-action-lock-outline prefix"></i>
                          <input id="password3" type="password">
                          <label for="password">Password</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="mdi-action-question-answer prefix"></i>
                          <textarea id="message3" class="materialize-textarea"></textarea>
                          <label for="message">Message</label>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                              <i class="mdi-content-send right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              
       	<!-- Test 1	 -->       
			</div>
	   	
	   	
	   	<div id="test5" class="col s12" style="display: none;">
								<h6 id="color">Screen 2</h6>
								
		<!-- Test 1	 -->							
<div class="col s12 ">
                <div class="card-panel">
                  <h4 class="header2">Form with icon prefixes</h4>
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="mdi-action-account-circle prefix"></i>
                          <input id="name3" type="text">
                          <label for="first_name">Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="mdi-communication-email prefix"></i>
                          <input id="email3" type="email">
                          <label for="email">Email</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="mdi-action-lock-outline prefix"></i>
                          <input id="password3" type="password">
                          <label for="password">Password</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="mdi-action-question-answer prefix"></i>
                          <textarea id="message3" class="materialize-textarea"></textarea>
                          <label for="message">Message</label>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                              <i class="mdi-content-send right"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              
       	<!-- Test 1	 -->       
			</div>
			
			
			</div>
			
			</div>
			
			
			
			</div>
		</div>
<!-- 	</div> -->

</section>
<!-- END CONTENT -->