<div id="outgoing" class="modal ng-scope" style="z-index: 1003; opacity: 1; transform: scaleX(1); top: 10%; height: 676px;">
    <div class="modal-content" id="model">
    	<i class="mdi-content-clear" style="margin-left: 644px;cursor: pointer;" data-ng-click="canceloutcall()"></i>
    	<br>
							<div class="row" style="margin-left: 153px;">
								<h4><b>Outbound  Call...</b></h4>
							</div>
							<br>
							<br>
							<div class="row" style="margin-top: -68px;">
								<span style="margin-left: 204px;" id="color"><b>+91
										9000498849</b></span>
							</div>
							<br>
							<div class="row" >
								<input type="text" class="form-control font" style="width:250px;margin-left: 165px;" value="+91" placeholder="Phone Number">
								<br>
								<br>
									<img style="margin-left: 210px;margin-top: -84px;" alt="" src="resources/assets/images/accept_32X32.png">
									<img style="margin-left: 81px;margin-top: -84px;" alt="" src="resources/assets/images/decline_32X32.png">
							</div>
							<br>
						</div>
        
        </div>