<style>
#color {
	color: #4fbbda;
}
</style>


<!-- START CONTENT -->
<section id="content">
	<!--breadcrumbs start-->
	<div id="breadcrumbs-wrapper">
		<!-- Search for small screen -->
		<div class="header-search-wrapper grey hide-on-large-only">
			<i class="mdi-action-search active"></i> <input type="text"
				name="Search" class="header-search-input z-depth-2"
				placeholder="Explore Materialize">
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">				
					<ol class="breadcrumbs">
						<li><a href="index.html">Dashboard</a></li>
						<li><a href="#">Reports</a></li>
						<li class="active">Payment voucher</li>
						
					</ol>
					
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs end-->


	<!--start container-->
	<div class="container">
		<div class="section">

			<!-- <fieldset>
				<legend>Driver Information</legend> -->
				<div class="row">
					<div class="input-field col s6">
						<fieldset>
							<legend id="color">Payment Voucher</legend>
							<div class="row margin">
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Head Of The Account</label>
								</div>
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Paid To</label>
								</div>
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Towards</label>
								</div>
							</div>
							<div class="row margin">
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">By Cash/Cheque/DD No.</label>
								</div>
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Date</label>
								</div>
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Bank</label>
								</div>
							</div>
							
							<div class="row margin">
								<div class="input-field col s8">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Rupees In Words</label>
								</div>
								
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Rs.</label>
								</div>
								</div>
                            <div class="row margin">
								
									<div class="input-field col s4">
										<h6 id="color">Authorised</h6>
									</div>

									<div class="input-field col s4">
										<h6 id="color">Prepared</h6>
									</div>
									<div class="input-field col s4">
										<h6 id="color">Receiver Signature</h6>
									</div>
								
							</div>
							
						</fieldset>
					</div>
					<div class="input-field col s6">
					</div>

					
				</div>

		<!-- 	</fieldset> -->

		</div>
		<!-- Floating Action Button -->

		<!-- Floating Action Button -->
	</div>
	<!--end container-->
</section>
<!-- END CONTENT -->