<style>
#color {
	color: #4fbbda;
}
</style>


<!-- START CONTENT -->
<section id="content">
	<!--breadcrumbs start-->
	<div id="breadcrumbs-wrapper">
		<!-- Search for small screen -->
		<div class="header-search-wrapper grey hide-on-large-only">
			<i class="mdi-action-search active"></i> <input type="text"
				name="Search" class="header-search-input z-depth-2"
				placeholder="Explore Materialize">
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">				
					<ol class="breadcrumbs">
						<li><a href="index.html">Dashboard</a></li>
						<li><a href="#">Reports</a></li>
						<li class="active">Payment Receipt</li>
						
					</ol>
					
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs end-->


	<!--start container-->
	<div class="container">
		<div class="section">

			<!-- <fieldset>
				<legend>Driver Information</legend> -->
				<div class="row">
					<div class="input-field col s8">
						<fieldset>
							<legend id="color" >Payment Receipt</legend>
							<div class="row margin">
								<div class="input-field col s3">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Name</label>
								</div>
								<div class="input-field col s3">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Mobile Number</label>
								</div>
								<div class="input-field col s3">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Amount</label>
								</div>
								<div class="input-field col s3">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">InWords</label>
								</div>
							</div>
							<div class="row margin">
								<div class="input-field col s3">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Purpose</label>
								</div>
								<div class="input-field col s3">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Total</label>
								</div>
								<div class="input-field col s3">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Paid</label>
								</div>
								<div class="input-field col s3">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Balance</label>
								</div>
							</div>
							 <div class="row margin">
								
									<div class="input-field col s3">
										<h6 id="color">Paid Through</h6>
									</div>

									<div class="input-field col s3">
										<input type="radio" id="test5" name="group1"> <label for="test5">Check</label>
									</div>
									<div class="input-field col s3">
										<input type="radio" id="test6" name="group1"> <label for="test6">Cash</label>
									</div>
									<div class="input-field col s3">
										<input type="radio" id="test7" name="group1"> <label for="test7">Draft</label>
									</div>
								
							</div>
							
							<div class="row margin">
								
								<div class="input-field col s12">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Rs.</label>
								</div>
								</div>
                            <div class="row margin">
								
									<div class="input-field col s6">
										<h6 id="color">Authorised</h6>
									</div>

									<div class="input-field col s6">
										<h6 id="color">Prepared</h6>
									</div>
									
								
							</div>
							
						</fieldset>
					</div>
					<div class="input-field col s4">
					</div>

					
				</div>

		<!-- 	</fieldset> -->

		</div>
		<!-- Floating Action Button -->

		<!-- Floating Action Button -->
	</div>
	<!--end container-->
</section>
<!-- END CONTENT -->