<div id="redial" class="modal ng-scope" style="z-index: 1003; opacity: 1; transform: scaleX(1); top: 10%; height: 676px;">
    <div class="modal-content" id="model">
    	<i class="mdi-content-clear" style="margin-left: 644px;cursor: pointer;" data-ng-click="cancelredial()"></i>
    	<br>
							<div class="row" style="margin-left: 10px;margin-top: -10px;">
								<h4><b>Redial...</b></h4>
							</div>
							<br>
							<br>
							<table style="width:100%; margin-top: -76px;margin-left: 10px;">
							  <tr>
							    <th>Number</th>
							    <th>Date</th> 
							    <th>Time</th>
							    <th>Dial</th>
							  </tr>
							  <tr>
							    <td>+91 9000498849</td>
							    <td>21-01-2017</td>
							    <td>05:35:23</td>
							    <td><img alt="" src="resources/assets/images/accept_32X32.png"></td>
							  </tr>
							  <tr>
							    <td>+91 9000498849</td>
							    <td>20-01-2017</td>
							    <td>18:43:13</td>
							    <td><img alt="" src="resources/assets/images/accept_32X32.png"></td>
							  </tr>
							  <tr>
							    <td>+91 9000498849</td>
							    <td>18-01-2017</td>
							    <td>10:25:30</td>
							    <td><img alt="" src="resources/assets/images/accept_32X32.png"></td>
							  </tr>
							</table>

						</div>
        
        </div>