<style>
#color {
	color: #4fbbda;
}
</style>


<!-- START CONTENT -->
<section id="content">
	<!--breadcrumbs start-->
	<div id="breadcrumbs-wrapper">
		<!-- Search for small screen -->
		<div class="header-search-wrapper grey hide-on-large-only">
			<i class="mdi-action-search active"></i> <input type="text"
				name="Search" class="header-search-input z-depth-2"
				placeholder="Explore Materialize">
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">				
					<ol class="breadcrumbs">
						<li><a href="index.html">Dashboard</a></li>
						<li><a href="#">Corporate</a></li>
						<li class="active">Walkin Form</li>
						<li><a  href="#/walkinform2" style=" margin-left: 900px;" >Next</a></li>
					</ol>
					
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs end-->


	<!--start container-->
	<div class="container">
		<div class="section">

			<fieldset>
				<legend id="color" >Driver Information</legend>
				<div class="row">
					<div class="input-field col s5">
						<fieldset>
							<legend id="color" >Personal Information</legend>
							<div class="row margin">
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">First Name</label>
								</div>
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Last Name</label>
								</div>
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Father Name</label>
								</div>
							</div>
							<div class="row margin">
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Nationality</label>
								</div>
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Religion</label>
								</div>
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">DOB</label>
								</div>
							</div>
							
							<div class="row margin">
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Phone</label>
								</div>
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Email</label>
								</div>
								<div class="input-field col s4">
									<input id="username" type="text" data-ng-model="login.userName"
										name="userName"> <label for="username"
										class="center-align">Address</label>
								</div>
								</div>
                            <div class="row margin">
								
									<div class="input-field col s4">
										<h6 id="color">Gender</h6>
									</div>

									<div class="input-field col s4">
										<input type="radio" id="test5" name="group1"> <label for="test5">Male</label>
									</div>
									<div class="input-field col s4">
										<input type="radio" id="test6" name="group1"> <label for="test6">Female</label>
									</div>
								
							</div>
							<div class="row margin">
								<div class="input-field col s2">
									<h6 id="color">Category</h6>
								</div>

								<div class="input-field col s2">
									<input type="radio" id="test7" name="group2"> <label for="test7">Gen</label>
								</div>
								<div class="input-field col s2">
									<input type="radio" id="test8" name="group2"> <label for="test8">SC</label>
								</div>
								<div class="input-field col s2">
									<input type="radio" id="test9" name="group2"> <label for="test9">ST</label>
								</div>
								<div class="input-field col s2">
									<input type="radio" id="test4" name="group2"> <label for="test4">OBC</label>
								</div>
								<div class="input-field col s2">
									<input type="radio" id="test3" name="group2"> <label for="test3">PH</label>
								</div>
							</div>
						</fieldset>
					</div>

					<div class="input-field col s7">
						<fieldset>
							<legend id="color" >Academic Information</legend>
							<div class="row margin">
								<div class="input-field col s2">
									<h6 id="color">Qualification</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Board Name</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">PassOut</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Subject</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Percentage</h6>

								</div>
								<div class="input-field col s2">
									<h6 id="color">Class</h6>

								</div>
							</div>
							<br>
							<div class="row margin">
								<div class="input-field col s2">
									<input id="qu" type="text" data-ng-model="login.userName"
										name="QU"> <label for="qu" class="center-align">Qualification</label>
								</div>
								<div class="input-field col s2">
									<input id="col" type="text" data-ng-model="login.userName"
										name="userName"> <label for="col" class="center-align">Board
										Name</label>
								</div>
								<div class="input-field col s2">
									<input id="ti" type="text" data-ng-model="login.userName"
										name="userName"> <label for="ti" class="center-align">Year
										Of Passing</label>
								</div>
								<div class="input-field col s2">
									<input id="ed" type="text" data-ng-model="login.userName"
										name="userName"> <label for="ed" class="center-align">Subject</label>
								</div>
								<div class="input-field col s2">
									<input id="sd" type="text" data-ng-model="login.userName"
										name="userName"> <label for="sd" class="center-align">Percentage</label>
								</div>
								<div class="input-field col s2">
									<input id="cf" type="text" data-ng-model="login.userName"
										name="userName"> <label for="cf" class="center-align">Class/Division</label>
								</div>
							</div>
							<div class="row margin">
								<div class="input-field col s2">
									<input id="qu" type="text" data-ng-model="login.userName"
										name="QU"> <label for="qu" class="center-align">Qualification</label>
								</div>
								<div class="input-field col s2">
									<input id="col" type="text" data-ng-model="login.userName"
										name="userName"> <label for="col" class="center-align">Board
										Name</label>
								</div>
								<div class="input-field col s2">
									<input id="ti" type="text" data-ng-model="login.userName"
										name="userName"> <label for="ti" class="center-align">Year
										Of Passing</label>
								</div>
								<div class="input-field col s2">
									<input id="ed" type="text" data-ng-model="login.userName"
										name="userName"> <label for="ed" class="center-align">Subject</label>
								</div>
								<div class="input-field col s2">
									<input id="sd" type="text" data-ng-model="login.userName"
										name="userName"> <label for="sd" class="center-align">Percentage</label>
								</div>
								<div class="input-field col s2">
									<input id="cf" type="text" data-ng-model="login.userName"
										name="userName"> <label for="cf" class="center-align">Class/Division</label>
								</div>
							</div>
							<div class="row margin">
								<div class="input-field col s2">
									<input id="qu" type="text" data-ng-model="login.userName"
										name="QU"> <label for="qu" class="center-align">Qualification</label>
								</div>
								<div class="input-field col s2">
									<input id="col" type="text" data-ng-model="login.userName"
										name="userName"> <label for="col" class="center-align">Board
										Name</label>
								</div>
								<div class="input-field col s2">
									<input id="ti" type="text" data-ng-model="login.userName"
										name="userName"> <label for="ti" class="center-align">Year
										Of Passing</label>
								</div>
								<div class="input-field col s2">
									<input id="ed" type="text" data-ng-model="login.userName"
										name="userName"> <label for="ed" class="center-align">Subject</label>
								</div>
								<div class="input-field col s2">
									<input id="sd" type="text" data-ng-model="login.userName"
										name="userName"> <label for="sd" class="center-align">Percentage</label>
								</div>
								<div class="input-field col s2">
									<input id="cf" type="text" data-ng-model="login.userName"
										name="userName"> <label for="cf" class="center-align">Class/Division</label>
								</div>
							</div>
							<div class="row margin">
								<div class="input-field col s2">
									<input id="qu" type="text" data-ng-model="login.userName"
										name="QU"> <label for="qu" class="center-align">Qualification</label>
								</div>
								<div class="input-field col s2">
									<input id="col" type="text" data-ng-model="login.userName"
										name="userName"> <label for="col" class="center-align">Board
										Name</label>
								</div>
								<div class="input-field col s2">
									<input id="ti" type="text" data-ng-model="login.userName"
										name="userName"> <label for="ti" class="center-align">Year
										Of Passing</label>
								</div>
								<div class="input-field col s2">
									<input id="ed" type="text" data-ng-model="login.userName"
										name="userName"> <label for="ed" class="center-align">Subject</label>
								</div>
								<div class="input-field col s2">
									<input id="sd" type="text" data-ng-model="login.userName"
										name="userName"> <label for="sd" class="center-align">Percentage</label>
								</div>
								<div class="input-field col s2">
									<input id="cf" type="text" data-ng-model="login.userName"
										name="userName"> <label for="cf" class="center-align">Class/Division</label>
								</div>
							</div>
						</fieldset>
					</div>
				</div>

			</fieldset>

		</div>
		<!-- Floating Action Button -->

		<!-- Floating Action Button -->
	</div>
	<!--end container-->
</section>
<!-- END CONTENT -->