<style>
  .verticalLine {
    border-left: thick solid #ff0000;
  }
  
  .c01 {
	background-color: rgba(32, 139, 129, 0.69);
	line-height: 0.5
}
.t01
{
  line-height: 1.2;
}

 tr:nth-child(odd) {
  background-color: #dfe7f2;
  color: #000000;
}

tr:nth-child(even) {
  background-color: white;
  /* color: blue; */
}
th {
	background: #99bbe8;
	padding: 2px 3px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    height: 31px;
}
 
th,td {
	 width: 6.5%;
}

td {
	text-align: center;
	padding: 2px 6.6px
}

table {
	font-size: 12px;
}

tbody {
    overflow: auto;
}

h10 {
	font-size: 0.9rem;
}

</style>
<section id="content">
    <!--start container-->
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
                <div class="col s6 m12 l12" id="breadcrumbs">
                    <ol class="breadcrumbs" style="margin-top: 10px;">
                        <li><a href="#/dashboard">Home</a>
                        </li>
                        <li><a href="#">Satya</a>
                        </li>
                        <li class="active">Dispatch Vehicle Vacant</li>
                    </ol>
                    <div class="input-field col s1" id="dispatcher-breadcrumb">
					<input type="text" id="sysdate" name="sysdate"
						required="required" readonly="readonly" />
					</div>
					<div class="input-field col s1" id="dispatcher-time">
							<div id="times"></div>
						</div>
					</div>
                </div>
            </div>
        <div id="basic-form" class="section">
            <div class="row">
                <div class="col s12 m12 l3">
                    <div class="card-panel" id="dispatcher_c3_card_panel">
                    	<fieldset id="dispatcher_caller">
                    		<legend>Caller Information</legend>
                    		<div class="row">
                    			<div class="col s5" id="dispatch-caller-label">
									<b>Caller Phone</b>
								</div>
								<div class="col s6">
						            <input type="text" disabled="disabled" style="background-color: #f3f3f3">
								</div>
                    		</div>
                    		<div class="row">
                    			<div class="col s5">
									<b>Search</b>
								</div>
								<div class="col s6">
						            <input type="text" id="dispacth-call-input">
								</div>
                    		</div>
                    		<div class="row">
                    			<div class="col s5">
									<b>V.Owner.Nm.</b>
								</div>
								<div class="col s6">
						            <input type="text" id="dispacth-call-input">
								</div>
                    		</div>
                    		<div class="row">
                    			<div class="col s5">
									<b>Owner No.</b>
								</div>
								<div class="col s6">
						            <input type="text" id="dispacth-call-input">
								</div>
                    		</div>
                    		<div class="row">
                    			<div class="col s5">
									<b>Current Place</b>
								</div>
								<div class="col s6">
						            <input type="text" id="dispacth-call-input">
								</div>
                    		</div>
                    		<div class="row">
                    			<div class="col s5">
									<b>Driver Name</b>
								</div>
								<div class="col s6">
						            <input type="text" id="dispacth-call-input">
								</div>
                    		</div>
                    		<div class="row">
                    			<div class="col s5">
									<button class="btn" id="dispatcher_feedback">Feedback</button>
								</div>
								<div class="col s5">
						            <button class="btn" id="dispatcher_add_request">Add&nbsp;Request</button>
								</div>
                    		</div>
                    	</fieldset>
                    	
                    	<fieldset id="dispatch_vehicle">
                    		<legend>Vehicle Information</legend>
                    	</fieldset>
                    </div>
                </div>
                <div class="col s12 m12 l9">
                    <div class="card-panel">
                        <div class="row">
                            <form class="col s12 ng-pristine ng-valid">
                                   <div class="col s12 m12 l6">
					                    	<div class="card-panel" id="satya_dispatcher_subpanel">
					                    		<div class="row" id="dispatcher-row">
					                    			<h9 id="h9_styles"><u>Vehicle-Vacant</u></h9>
					                    		</div>
					                    		
					                    		<div class="row" id="dispatch-cnf-space">
					                    			<div class="col s3">
					                    				<label id="dispatch_label">Login Time : </label>
					                    				</div>
					                    				<div class="col s3">
					                    				<h10>07 -> 11:41</h10>
					                    			</div>
					                    			<div class="col s3">
					                    				<label id="dispatch_label">Vacant Time : </label>
					                    				</div>
					                    				<div class="col s3">
					                    				<h10>01:15</h10>
					                    			</div>
					                    		</div>
					                    		<div class="row" id="dispatch-cnf-space">
					                    			<div class="col s3">
					                    				<label id="dispatch_label">No.of Breaks :</label>
					                    				</div>
					                    				<div class="col s3">
					                    				<h10>145</h10>
					                    			</div>
					                    			<div class="col s3">
					                    				<label id="dispatch_label">Overall BT</label>
					                    				</div>
					                    				<div class="col s3">
					                    				<h10>03:06</h10>
					                    			</div>
					                    		</div>
					                    		<div class="row" id="dispatch-cnf-space">
					                    			<div class="col s3">
					                    				<label id="dispatch_label">No.of Bookings</label>
					                    				</div>
					                    				<div class="col s3">
					                    				<h10>0</h10>
					                    			</div>
					                    			<div class="col s3">
					                    				<label id="dispatch_label">Day Collection.</label>
					                    				</div>
					                    				<div class="col s3">
					                    				<h10>300</h10>
					                    			</div>
					                    		</div>
					                    		<div class="row" id="dispatch-cnf-space">
					                    			<div class="col s3">
					                    				<label id="dispatch_label">Home Loc.</label>
					                    				</div>
					                    				<div class="col s3">
					                    				<h10>ARAMGHAR</h10>
					                    			</div>
					                    			<div class="col s3">
					                    				<label id="dispatch_label">Next Booking</label>
					                    				</div>
					                    				<div class="col s3">
					                    				<h10>Yes</h10>
					                    			</div>
					                    		</div>
					                    		<div class="row" id="dispatch-cnf-space">
					                    			<div class="col s3">
					                    				<label id="dispatch_label">Current Loc.</label>
					                    				</div>
					                    				<div class="col s3">
					                    				<h10>DHOOLPET</h10>
					                    			</div>
					                    			<div class="col s3">
					                    				<label id="dispatch_label">Booking Id</label>
					                    				</div>
					                    				<div class="col s1">
					                    				<select class="browser-default" style="width: 170%;margin-left: -12px;">
																<option value="C">C</option>
																<option value="A">A</option>
															</select>
					                    			</div>
					                    			<div class="col s2">
					                    				<input type="text" name="textbox" style="width: 96%;">
					                    			</div>
					                    		</div>
					                    		<hr style="margin-top: 12px;">
					                    		<button class="btn" type="submit" name="action" id="dispatch-hr-button-accept">Accepted</button>
					                    		<button class="btn" type="submit" name="action" id="dispatch-hr-button-reject">Rejected</button>
					                    	</div>
					                    	</div>
					                    	
					                <div class="row">
					                		<button class="btn" type="submit" name="action" id="satya_dispatcher_transfer" data-ng-click="gettransfer()" >Transfer Call</button>
					                	</div>
					                	<div class="row">
					                		<button class="btn" type="submit" name="action" id="satya_dispatcher_endcall" data-ng-click="getholdcall()">Hold Call</button>
					                	</div>
					                   	<div class="row">
					                   		<button class="btn" type="submit" name="action" id="satya_dispatcher_holdcall" data-ng-click="getfollwup()">Set Follow Up</button>
					                   	</div>
					                   	<div class="row">
					                   		<button class="btn" type="submit" name="action" id="satya_dispatcher_followup" data-ng-click="getendcall()">End Call</button>
					                   	</div>
					                   	
					                <div class="row">
                                    <div class="col s12">
                                        <fieldset class="field-empty-set">
                                            <legend>Empty FieldSet</legend>
                                            	<div class="row">
                                            		<div class="col s2">
                                            			<label id="empty_label">Login : </label><span id="empty_span">19:45</span>
                                            		</div>
                                            		<div class="col s3">
                                            			<label id="empty_label">Estimated Logout Time : </label><span id="empty_span">24Hr</span>
                                            		</div>
                                            		<div class="col s3">
                                            			<label id="empty_label">Previous Location : </label><span id="empty_span">KPHB</span>
                                            		</div>
                                            		<div class="col s3">
                                            			<label id="empty_label">Current Location : </label><span id="empty_span">Hitech City</span>
                                            		</div>
                                            	</div>
                                            	<div class="row">
                                            		<div class="col s2">
                                            			<label id="empty_label">Status : </label><span id="empty_span">19:45</span>
                                            		</div>
                                            		<div class="col s3">
                                            			<label id="empty_label">Total Trips : </label><spa id="empty_span">24Hr</span>
                                            		</div>
                                            		<div class="col s3">
                                            			<label id="empty_label">Successfull Trips : </label><span id="empty_span">KPHB</span>
                                            		</div>
                                            		<div class="col s3">
                                            			<label id="empty_label">Roadside Trips : </label><span id="empty_span">Hitech City</span>
                                            		</div>
                                            	</div>
                                            	<div class="row">
                                            		<div class="col s2">
                                            			<label id="empty_label">Rejected : </label><span id="empty_span">19:45</span>
                                            		</div>
                                            		<div class="col s3">
                                            			<label id="empty_label">Working Hours : </label><span id="empty_span">19:45</span>
                                            		</div>
                                            		<div class="col s3">
                                            			<label id="empty_label">Day Collection : </label><span id="empty_span">KPHB</span>
                                            		</div>
                                            		<div class="col s3">
                                            			<label id="empty_label">Total Login Hours : </label><span id="empty_span">Hitech City</span>
                                            		</div>
                                            	</div>
                                            	<div class="row">
                                            		<div class="col s2">
                                            			<label id="empty_label">Cancelled : </label><span id="empty_span">24Hr</span>
                                            		</div>
                                            		<div class="col s3">
                                            			<label id="empty_label">Total Break Time : </label><span id="empty_span">24Hr</span>
                                            		</div>
                                           	</div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <fieldset class="field-booking-set">
                                            <legend>Trip Sheet</legend>
						                    <table cellspacing="0" cellpadding="1" border="1" width="325">
											     <thead class="t01" style="color:white;background-color:grey">
											        	<tr>
											        	<th id="dispatcher_width">S.No</th>
                                                        <th>Booking Id</th>
                                                        <th>Pickup Time</th>
                                                        <th>Starting Kms</th>
                                                        <th>Drop Time</th>
                                                        <th>Closing Kms</th>
                                                        <th>Total Hrs</th>
                                                        <th>Total Kms.</th>
                                                        <th>Trip Amount</th>
                                                        <th>Dead Milage</th>
                                                        <th>Remarks</th>
                                                        <th id="dispatcher_width">View</th>
                                                        </tr>
											     </thead>
											   </table>
											   <div style="height:150px; overflow:auto;">
											     <table class="b01" cellspacing="0" cellpadding="1" border="1" width="325" >
											       <tr>
                                                    	<td id="dispatcher_td_width">1</td>
                                                        <td>123</td>
                                                        <td>10:20</td>
                                                        <td>25</td>
                                                        <td>12:40</td>
                                                        <td>70</td>
                                                        <td>2Hr</td>
                                                        <td>95</td>
                                                        <td>450</td>
                                                        <td>50</td>
                                                        <td>Remarks</td>
                                                        <td id="dispatcher_td_width"><i class="mdi-action-visibility"></i></td>
                                                    </tr>
                                                    <tr>
                                                    	<td id="dispatcher_td_width">2</td>
                                                        <td>123</td>
                                                        <td>10:20</td>
                                                        <td>25</td>
                                                        <td>12:40</td>
                                                        <td>70</td>
                                                        <td>2Hr</td>
                                                        <td>95</td>
                                                        <td>450</td>
                                                        <td>50</td>
                                                        <td>Remarks</td>
                                                        <td id="dispatcher_td_width"><i class="mdi-action-visibility"></i></td>
                                                    </tr>
                                                    <tr>
                                                    	<td id="dispatcher_td_width">3</td>
                                                        <td>123</td>
                                                        <td>10:20</td>
                                                        <td>25</td>
                                                        <td>12:40</td>
                                                        <td>70</td>
                                                        <td>2Hr</td>
                                                        <td>95</td>
                                                        <td>450</td>
                                                        <td>50</td>
                                                        <td>Remarks</td>
                                                        <td id="dispatcher_td_width"><i class="mdi-action-visibility"></i></td>
                                                    </tr>
                                                    <tr>
                                                    	<td id="dispatcher_td_width">4</td>
                                                        <td>123</td>
                                                        <td>10:20</td>
                                                        <td>25</td>
                                                        <td>12:40</td>
                                                        <td>70</td>
                                                        <td>2Hr</td>
                                                        <td>95</td>
                                                        <td>450</td>
                                                        <td>50</td>
                                                        <td>Remarks</td>
                                                        <td id="dispatcher_td_width"><i class="mdi-action-visibility"></i></td>
                                                    </tr>
                                                    <tr>
                                                    	<td id="dispatcher_td_width">5</td>
                                                        <td>123</td>
                                                        <td>10:20</td>
                                                        <td>25</td>
                                                        <td>12:40</td>
                                                        <td>70</td>
                                                        <td>2Hr</td>
                                                        <td>95</td>
                                                        <td>450</td>
                                                        <td>50</td>
                                                        <td>Remarks</td>
                                                        <td id="dispatcher_td_width"><i class="mdi-action-visibility"></i></td>
                                                    </tr>
                                                    <tr>
                                                    	<td id="dispatcher_td_width">6</td>
                                                        <td>123</td>
                                                        <td>10:20</td>
                                                        <td>25</td>
                                                        <td>12:40</td>
                                                        <td>70</td>
                                                        <td>2Hr</td>
                                                        <td>95</td>
                                                        <td>450</td>
                                                        <td>50</td>
                                                        <td>Remarks</td>
                                                        <td id="dispatcher_td_width"><i class="mdi-action-visibility"></i></td>
                                                    </tr> 
                                                    <tr>
                                                    	<td id="dispatcher_td_width">7</td>
                                                        <td>123</td>
                                                        <td>10:20</td>
                                                        <td>25</td>
                                                        <td>12:40</td>
                                                        <td>70</td>
                                                        <td>2Hr</td>
                                                        <td>95</td>
                                                        <td>450</td>
                                                        <td>50</td>
                                                        <td>Remarks</td>
                                                        <td id="dispatcher_td_width"><i class="mdi-action-visibility"></i></td>
                                                    </tr>
                                                    <tr>
                                                    	<td id="dispatcher_td_width">8</td>
                                                        <td>123</td>
                                                        <td>10:20</td>
                                                        <td>25</td>
                                                        <td>12:40</td>
                                                        <td>70</td>
                                                        <td>2Hr</td>
                                                        <td>95</td>
                                                        <td>450</td>
                                                        <td>50</td>
                                                        <td>Remarks</td>
                                                        <td id="dispatcher_td_width"><i class="mdi-action-visibility"></i></td>
                                                    </tr>
                                                    <tr>
                                                    	<td id="dispatcher_td_width">9</td>
                                                        <td>123</td>
                                                        <td>10:20</td>
                                                        <td>25</td>
                                                        <td>12:40</td>
                                                        <td>70</td>
                                                        <td>2Hr</td>
                                                        <td>95</td>
                                                        <td>450</td>
                                                        <td>50</td>
                                                        <td>Remarks</td>
                                                        <td id="dispatcher_td_width"><i class="mdi-action-visibility"></i></td>
                                                    </tr> 
                                                    <tr>
                                                    	<td id="dispatcher_td_width">10</td>
                                                        <td>123</td>
                                                        <td>10:20</td>
                                                        <td>25</td>
                                                        <td>12:40</td>
                                                        <td>70</td>
                                                        <td>2Hr</td>
                                                        <td>95</td>
                                                        <td>450</td>
                                                        <td>50</td>
                                                        <td>Remarks</td>
                                                        <td id="dispatcher_td_width"><i class="mdi-action-visibility"></i></td>
                                                    </tr> 
											     </table> 
											     </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end container-->
</section>
<div id="transfer" class="modal ng-scope" style="z-index: 1003; opacity: 1; transform: scaleX(1); top: 20%; height:40%;">
    <div class="modal-content">
        <div class="col-md-offset-6">
            <i class="mdi-content-clear" data-ng-click="canceltransfer()" style="margin-left: 666px;cursor: pointer;"></i>
        </div>
        <fieldset style="height: 20vh">
        	<legend>Empty Fieldset</legend>
        </fieldset>
        <br>
        <div class="row">
        	<div class="col s12">
        		<button class="btn"  name="action" id="dispatch-popup">Submit</button>
        	</div>
        </div>
    </div>
</div>
<div id="endcall" class="modal ng-scope" style="z-index: 1003; opacity: 1; transform: scaleX(1); top: 20%; height:40%;">
    <div class="modal-content">
        <div class="col-md-offset-6">
            <i class="mdi-content-clear" data-ng-click="cancelendcall()" style="margin-left: 666px;cursor: pointer;"></i>
        </div>
        <fieldset style="height: 20vh">
        	<legend>Empty Fieldset</legend>
        </fieldset>
        <br>
        <div class="row">
        	<div class="col s12 m12 l12">
        		<button class="btn"  name="action" id="dispatch-popup">Submit</button>
        	</div>
        </div>
    </div>
</div>
<div id="holdcall" class="modal ng-scope" style="z-index: 1003; opacity: 1; transform: scaleX(1); top: 20%; height:40%;">
    <div class="modal-content">
        <div class="col-md-offset-6">
            <i class="mdi-content-clear" data-ng-click="cancelholdcall()" style="margin-left: 666px;cursor: pointer;"></i>
        </div>
        <fieldset style="height: 20vh">
        	<legend>Empty Fieldset</legend>
        </fieldset>
        <br>
        <div class="row">
        	<div class="col s12 m12 l12">
        		<button class="btn"  name="action" id="dispatch-popup">Submit</button>
        	</div>
        </div>
    </div>
</div>
<div id="followup" class="modal ng-scope" style="z-index: 1003; opacity: 1; transform: scaleX(1); top: 20%; height:40%;">
    <div class="modal-content">
        <div class="col-md-offset-6">
            <i class="mdi-content-clear" data-ng-click="cancelfollowup()" style="margin-left: 666px;cursor: pointer;"></i>
        </div>
        <fieldset style="height: 20vh">
        	<legend>Empty Fieldset</legend>
        </fieldset>
        <br>
        <div class="row">
        	<div class="col s12 m12 l12">
        		<button class="btn"  name="action" id="dispatch-popup">Submit</button>
        	</div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
<script>
    tabFunction();
    $('#fromdate').datetimepicker({
		timepicker : false,
		closeOnTimeSelect : false,
		format : 'd-m-Y',
		step : 01,
	});
    window.onload = function() {
		date()
	}, setInterval(function() {
		date()
	}, 1000);

	// dynamic time display
	function date() {
		var now = new Date(), now = now.getHours() + ':' + now.getMinutes()
				+ ':' + now.getSeconds();
		$('#times').html(now);
	}
	
	//system date display
	document.getElementById('sysdate').value = (new Date().toLocaleDateString());
</script>

