<style>
fieldset {
    /* background: #F0F8FF; */
    background: #f3f3f3;
    /* border: 1px solid #B5B8C8;
    padding: 0 5px!important; */
}
label {
    /* font-size: 0.8rem; */
    /* color: black; */
}
legend {
    color: #15428B;
    }
</style>
<section id="content">

    <!--start container-->
    <div class="container">
        <div id="breadcrumbs-wrapper">
            <div class="row">
              <div class="col s6 m12 l12" id="breadcrumbs">
                <ol class="breadcrumbs" style="margin-top: 10px;">
                  <li><a href="#/dashboard">Home</a>
                  </li>
                  <li><a href="#">Vijay</a>
                  </li>
                  <li class="active">Fieldset With Statistics</li>
                </ol>
              </div>
              <!-- <div class="col s5 m8 l6" id="breadcrumb_buttons">
                 <button class="btn-success" type="submit" name="action">Save</button>
                 <button class="btn" type="submit" name="action">Cancel</button>
               </div> -->
            </div>
        </div>
        <div id="basic-form" class="section">
            <div class="row">
                <div class="col s12 m12 l3">
                    <div class="card-panel" id="c3_card_panel">
                    </div>
                </div>
                <!-- Form with placeholder -->
                <div class="col s12 m12 l9">
                    <div class="tabs">
                        <div class="tab-box">
                            <div class="col s4">
                                <a href="javascript:;" class="tabLink activeLink" id="cont-1">Tab 1</a>
                            </div>
                            <div class="col s4">
                                <a href="javascript:;" class="tabLink " id="cont-2">Tab 2</a>
                            </div>
                            <div class="col s4">
                                <a href="javascript:;" class="tabLink " id="cont-2">Tab 3</a>
                            </div>
                        </div>
                      </div>  
                    <div class="card-panel" id="c9_card_panel">
			        <div class="row">
                      <form class="col s12">
                        <div class="tabcontent paddingAll" id="cont-1-1">
                        		<!-- First Style -->
                        		
								<!-- Second Style-->
                                 <div class="row">   
                                    <fieldset class="col s9">
										<legend id="color"><b>Current Month History</b></legend>
										<div class="col s10 " style="border-right: 1px solid #CCCCCC;">
										<div style="border-bottom: 1px solid #CCCCCC;">
										<div class="row">
										<div class="col s3"><b>Day Avg.</b></div>
										<div class="col s3">120</div>
										<div class="col s3">Reached</div>
										<div class="col s3">1500</div>
										</div>
										<div class="row">
										<div class="col s3">Perf..</div>
										<div class="col s3">120</div>
										<div class="col s3">Avg.Login</div>
										<div class="col s3">00:05</div>
										</div>
										<div class="row">
										<div class="col s3">T.Days</div>
										<div class="col s3">15</div>
										<div class="col s3">W.Days</div>
										<div class="col s3">12</div>
										</div>
										<div class="row">
										<div class="col s3">V.Comp.</div>
										<div class="col s3">5</div>
										<div class="col s3">D.Comp.</div>
										<div class="col s3">5</div>
										</div>
										<div class="row">
										<div class="col s3">V.Rating</div>
										<div class="col s3">
										<i class="mdi-action-star-rate tiny"></i>
										<i class="mdi-action-star-rate tiny"></i>
										<i class="mdi-action-star-rate tiny"></i>
										<i class="mdi-action-star-rate tiny"></i>
										<i class="mdi-action-star-rate tiny"></i>
										</div>
										<div class="col s3">D.Rating</div>
										<div class="col s3">
										<i class="mdi-action-star-rate tiny"></i>
										<i class="mdi-action-star-rate tiny"></i>
										<i class="mdi-action-star-rate tiny"></i>
										<i class="mdi-action-star-rate tiny"></i>
										<i class="mdi-action-star-rate tiny"></i>
										</div>
										</div>
										</div>
										<div>
										<div class="row">
										<div class="col s3"><label>T.Bkngs: </label><span>39</span></div>
										<div class="col s2"><label>SB: </label><span>25</span></div>
										<div class="col s2"><label>RB: </label><span>5</span></div>
										<div class="col s2"><label>Ro.B: </label><span>4</span></div>
										<div class="col s2"><label>CB: </label><span>5</span></div>
										</div>
										</div>
										</div>
										<div class="col s2" style="text-align:center;">
										ChartData
										</div>
									</fieldset>
								</div>
								<!-- Third Style -->
                        		
                                    <!-- Full width -->                                
                                    <!--  -->
                                    <!-- End Full width -->
                                    
                                </div>
                                <div class="tabcontent paddingAll hide" id="cont-2-1">
                                    <br>
                                    <dl>
                                        <dt>Definition list</dt>
                                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                                        <dt>Lorem ipsum dolor sit amet</dt>
                                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                                    </dl>
                                </div>
                      </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->
<script>
tabFunction();
</script>